<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Lista de Tipos de Cambios</span>
</div>
<div class="bg-light lter b-b wrapper-sm">
    <div class="row" >
      <div class="col-sm-12 col-xs-12">
      <div class="col-sm-8">
         <botones-botonera></botones-botonera>
      </div>
      <div class="col-sm-4">
        <form role="search">
          <div class="form-group margin-none">
              <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
              <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
            </div>
        </form>
      </div>

      </div>
    </div>
</div>

<div class="wrapper padd-sm-v">
<div class="panel panel-default">



    <div class="table-responsive">

       <table ng-table="vm.tableParams"
       class="table table-bordered table-hover table-condensed editable-table"
       ng-form="vm.tableForm" disable-filter="vm.isAdding"
        ng-table-columns-binding="vm.cols" >
        <colgroup>
          <!-- <col width="5%" style="width:45px;"/> -->
          <col width="45%" />
          <col width="45%" />
          <col width="10%" ng-show="vm.btn_in_table"/>
        </colgroup>
        <tr ng-repeat="row in $data " ng-form="rowForm" >
       <!--   <td data-title="'N°'" style="width:45px;">
              <label class="i-checks m-b-none">
                 <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
              </label>
          </td> -->

          <td title="'Tipo Cambio'" sortable="'valor'" ng-switch="row.isEditing" ng-class="valor.$dirty ? 'bg-warning' : ''" ng-form="valor">
            <span ng-switch-default class="editable-text">{% row.valor %}</span>
            <div class="controls"
            ng-class="valor.$invalid && valor.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="text" name="valor" ng-model="row.valor" class="editable-input form-control input-sm" required />
            </div>
          </td>
          <td title="'Fecha'" sortable="'dia'"  >
            <span  >{% row.dia | date:"dd/MM/yyyy" %}</span>

          </td>


           <!-- <td title="'Fecha'" sortable="'dia'" ng-switch="row.isEditing" ng-class="dia.$dirty ? 'bg-warning' : ''" ng-form="dia">
            <span ng-switch-default class="editable-text">{% row.dia | date:"dd/MM/yyyy" %}</span>
            <div class="controls"
            ng-class="dia.$invalid && dia.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="text" name="dia" ng-model="row.dia" class="editable-input form-control input-sm" required />
            </div>
          </td> -->

          <td ng-if="vm.btn_in_table">
            <button class="btn btn-primary btn-sm" ng-click="vm.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-default btn-sm" ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
              <span class="glyphicon glyphicon-remove"></span>
            </button>

            <!-- <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing" ng-show="vm.btn_edit"> -->
            <button class="btn btn-default btn-sm" ng-click="vm.editRow(row);" ng-if="!row.isEditing" ng-show="vm.btn_edit">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>


              <button class="btn btn-danger btn-sm" ng-click="vm.del(row)" ng-if="!row.isEditing" ng-show="vm.btn_delete" >
              <span class="glyphicon glyphicon-trash"></span>
            </button>

          </td>
        </tr>
      </table>




  </div>


</div>