 <button  type="button"
 	ng-repeat="boton in btnCtrl.botones"
	ng-click="vm.onClick(boton.valor)"
	ng-if="boton.glosa != 'intable' "
 	class="btn btn-sm btn-addon margin-min-right btn-default" >
	<i class="fa {%  boton.descripcion  %} " ></i>
	<span >{% boton.nombre %}   </span>
</button>