          <div class="col-ms-12 " ng-if="vm.ASCVEH">

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">Costo  de Vehículo</label>
                  <input type="text" ng-keyup="vm.inciarParamsAscveh(1);" name="costo" ng-model="vm.formData_ascveh.costo" required class="form-control" is-decimal="5" maxlength="10" placeholder="Costo" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-2 padd-min-right">
              <div class="form-group">
                <label for="alerta" class=" control-label">Inicial %</label>
                  <input type="text" ng-keyup="vm.inciarParamsAscveh(1);" name="inicial_porcentaje" ng-model="vm.formData_ascveh.inicial_porcentaje" required class="form-control" is-decimal="10" maxlength="30" placeholder="Inicial %" ng-disabled="vm.disabledInput">
              </div>
            </div>

             <div class="col-sm-2 padd-min-left">
              <div class="form-group">
                <label for="alerta" class=" control-label">Inicial Monto</label>
                  <input type="text" ng-keyup="vm.inciarParamsAscveh( 2);"  name="inicial_monto" ng-model="vm.formData_ascveh.inicial_monto" required class="form-control" is-decimal="10" maxlength="15" placeholder="Inicial Monto" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">SEGURO TR</label>
                  <input type="text" name="seguro_tr" ng-model="vm.formData_ascveh.seguro_tr" required class="form-control" is-number maxlength="10" placeholder="SEGURO TR" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group">
                <label for="alerta" class=" control-label">GPS</label>
                  <input type="text" name="gps" ng-model="vm.formData_ascveh.gps" required class="form-control" is-number maxlength="10" placeholder="GPS" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group">
                <label for="alerta" class=" control-label">SOAT</label>
                  <input type="text" name="soat" ng-model="vm.formData_ascveh.soat" required class="form-control" is-number maxlength="10" placeholder="SOAT" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group">
                <label for="alerta" class=" control-label">GAS</label>
                  <input type="text" name="gas" ng-model="vm.formData_ascveh.gas" required class="form-control" is-number maxlength="10" placeholder="GAS" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group">
                <label for="alerta" class=" control-label">OTROS</label>
                  <input type="text" name="otros" ng-model="vm.formData_ascveh.otros" required class="form-control" is-number maxlength="10" placeholder="OTROS" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="vehiculo" class=" control-label">Vehículo</label>
                 <ui-select ng-model="vm.formData_ascveh.vehiculo_id"  ng-required="true" style="max-width: 500px;" title="Seleccionar Vehiculo" ng-disabled="vm.disabledInputsEdit">
                  <ui-select-match placeholder="Seleccionar Vehiculo">{% $select.selected.placa %}</ui-select-match>
                  <ui-select-choices repeat="row.id as row in vm.data_vehiculos | propsFilter: {placa: $select.search,tipo_vehiculo: $select.search,serie: $select.search}">
                    <div ng-bind-html="row.placa | highlight: $select.search"></div>
                    <small>
                      Serie: {% row.serie %} /
                      Tipo Veh.: <span ng-bind-html="''+row.tipo_vehiculo | highlight: $select.search"></span>
                    </small>

                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="b-b line dk hidden-folded"></div>
          </div>