<div class="wrapper ">

  <div class="bg-light lter b-b wrapper-sm">
      <div class="row" >
        <div class="col-sm-12 col-xs-12">
            <button type="button"   ng-click="vm.onClick(boton.valor)" ng-if="boton.glosa != 'intable' " class="btn btn-sm btn-addon margin-min-right btn-default ng-scope">
              <i class="fa fa-check-square"></i>
              <span class="ng-binding">Aporbar Credito   </span>
            </button>
        </div>
      </div>
  </div>

  <div class="padding-small-v">

        <div class="modal-header bg-info bg">
            <a  class="close" ng-click="vm.reloadListPrestamos()">&times;</a>
            <h4 class="modal-title">Cronograma de Pago </h4 >
          </div>
          <div class="modal-body form-horizontal">

            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th style="with: 40%" colspan="4" >Fechas de Pagos</th>
                  <th style="with: 10%">Capital</th>
                  <th style="with: 10%">Amortización</th>
                  <th style="with: 10%">Sobre Costo</th>
                  <th style="with: 10%">Cuota</th>
                  <th style="with: 10%">Cuota Parte</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in vm.data_list ">
                  <td> {% $index+1 %} </td>
                  <td>{% row.fecha_parte_1 | date:'dd/MM/yyyy' %}</td>
                  <td>{% row.fecha_parte_2 | date:'dd/MM/yyyy' %}</td>
                  <td>{% row.fecha_parte_3 | date:'dd/MM/yyyy' %}</td>
                  <td><strong>{% row.fecha_pago | date:'dd/MM/yyyy' %}</strong></td>
                  <td>{% row.saldo_capital %}</td>
                  <td>{% row.amortizacion %}</td>
                  <td>{% row.interes %}</td>
                  <td>{% row.cuota %}</td>
                  <td>{% row.cuota_parte %}</td>
                </tr>
              </tbody>
            </table>



          </div>

      <div class="modal-footer">
       <a  ng-click="vm.reloadListPersona()" class="btn m-b-xs btn-default btn-addon">
            <i class="fa fa-ban"></i>Cancelar
          </a>

      </div>
  </div>
</div>