<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Prestamos</span>
</div>
<div ui-view>
<!--   <div class="bg-light lter b-b wrapper-sm">
      <div class="row" >
        <div class="col-sm-12 col-xs-12">
        <div class="col-sm-8">
           <botones-botonera></botones-botonera>
        </div>
        <div class="col-sm-4">
          <form role="search">
            <div class="form-group margin-none">
                <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
                <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
              </div>
          </form>
        </div>

        </div>
      </div>
  </div> -->

  <div class="wrapper padd-sm-v">
    <div class="panel panel-default">

    <uib-tabset active="active">

      <uib-tab index="1" select="vm.getPrestamos(1);">
        <uib-tab-heading>
          <i class="fa fa-pause" aria-hidden="true"></i>
          Pendientes
        </uib-tab-heading>

          <div class="  wrapper-sm padd-sm-h">
            <div class="row" >
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-8">
                   <botones-botonera></botones-botonera>
                </div>
                <div class="col-sm-4">
                  <form role="search">
                    <div class="form-group margin-none">
                        <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
                        <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
              <table ng-table="vm.tableParams"
               class="table table-bordered table-hover table-condensed editable-table"
               ng-form="vm.tableForm" disable-filter="vm.isAdding"
                ng-table-columns-binding="vm.cols" >
                <colgroup>
                  <col width="5%" style="width:45px;"/>
                  <col width="25%" />
                  <col width="25%" />
                  <col width="20%" />
                  <col width="10%" />
                  <col width="10%" />
                  <col width="10%" />
                  <col width="10%" ng-show="vm.btn_in_table"/>
                </colgroup>
                <tr ng-repeat="row in $data " ng-form="rowForm" >
                 <td data-title="'N°'" style="width:45px;">
                      <label class="i-checks m-b-none">
                         <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
                      </label>
                  </td>

                  <td title="'Apellidos'" sortable="'per_apellidos'"  >
                    <span class="editable-text">{% row.per_apellidos %}</span>
                  </td>

                  <td title="'Nombre'" sortable="'per_nombre'"  >
                    <span class="editable-text">{% row.per_nombre %}</span>
                  </td>

                  <td title="'Tipo Prestamo'" sortable="'nombre'"  >
                    <span class="editable-text">{% row.tipo_prestamo %}</span>
                  </td>

                  <td title="'Prestamo'" sortable="'valor_total'"  >
                    <span class="editable-text">{% row.valor_total %}</span>
                  </td>

                  <td title="'Coutas'" sortable="'num_cuotas'"  >
                    <span class="editable-text">{% row.num_cuotas %}</span>
                  </td>

                  <td title="'Fec. Desem'"   >
                    <span class="editable-text">{% row.fecha_desembolso | date:'dd/MM/yyyy' %}</span>
                  </td>


                  <td ng-if="vm.btn_in_table">
                    <button class="btn btn-primary btn-sm" ng-click="vm.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>

                    <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing" ng-show="vm.btn_edit">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>


                      <button class="btn btn-danger btn-sm" ng-click="vm.del(row)" ng-if="!row.isEditing" ng-show="vm.btn_delete" >
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>

                  </td>
                </tr>
              </table>
            </div>
      </uib-tab>

      <uib-tab index="2" select="vm.getPrestamos(2);">
        <uib-tab-heading>
          <i class="fa fa-check-square" aria-hidden="true"></i>
          Aprobados
        </uib-tab-heading>

          <div class="  wrapper-sm padd-sm-h">
            <div class="row" >
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-8">
                  <button type="button" ng-click="vm.getPrestamos(2);" class="btn btn-sm btn-addon margin-min-right btn-default ng-scope">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span class="ng-binding"> Refrescar Lista   </span>
                  </button>

                </div>
                <div class="col-sm-4">
                  <form role="search">
                    <div class="form-group margin-none">
                        <input type="search" ng-model="vm.search_text_2" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
                        <a class="search-clear fa fa-times-circle" ng-show="vm.search_text_2" ng-click="vm.search_text_2=''; "></a>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed "   >
              <tr>
                 <th width="25%"> Apellidos </th>
                 <th width="25%"> Nombre </th>
                 <th width="20%"> Tipo Prestamo </th>
                 <th width="10%"> Prestamo </th>
                 <th width="10%"> Coutas </th>
                 <th width="10%"> Fec. Desem  </th>
              </tr>
              <tr ng-repeat="row in vm.data_list_2  | filter:vm.search_text_2 "  >

                <td title="'Apellidos'" sortable="'per_apellidos'"  >
                  <span class="editable-text">{% row.per_apellidos %}</span>
                </td>

                <td title="'Nombre'" sortable="'per_nombre'"  >
                  <span class="editable-text">{% row.per_nombre %}</span>
                </td>

                <td title="'Tipo Prestamo'" sortable="'nombre'"  >
                  <span class="editable-text">{% row.tipo_prestamo %}</span>
                </td>

                <td title="'Prestamo'" sortable="'valor_total'"  >
                  <span class="editable-text">{% row.valor_total %}</span>
                </td>

                <td title="'Coutas'" sortable="'num_cuotas'"  >
                  <span class="editable-text">{% row.num_cuotas %}</span>
                </td>

                <td title="'Fec. Desem'"   >
                  <span class="editable-text">{% row.fecha_desembolso | date:'dd/MM/yyyy' %}</span>
                </td>

              </tr>
            </table>
          </div>

      </uib-tab>

      <uib-tab index="3" select="vm.getPrestamos(3);">
        <uib-tab-heading>
          <i class="fa fa-ban" aria-hidden="true"></i> Cancelados
        </uib-tab-heading>

          <div class="  wrapper-sm padd-sm-h">
            <div class="row" >
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-8">
                  <button type="button" ng-click="vm.getPrestamos(3);" class="btn btn-sm btn-addon margin-min-right btn-default ng-scope">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span class="ng-binding"> Refrescar Lista   </span>
                  </button>

                </div>
                <div class="col-sm-4">
                  <form role="search">
                    <div class="form-group margin-none">
                        <input type="search" ng-model="vm.search_text_3" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
                        <a class="search-clear fa fa-times-circle" ng-show="vm.search_text_3" ng-click="vm.search_text_3=''; "></a>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed "   >
              <tr>
                 <th width="25%"> Apellidos </th>
                 <th width="25%"> Nombre </th>
                 <th width="20%"> Tipo Prestamo </th>
                 <th width="10%"> Prestamo </th>
                 <th width="10%"> Coutas </th>
                 <th width="10%"> Fec. Desem  </th>
              </tr>
              <tr ng-repeat="row in vm.data_list_3  | filter:vm.search_text_3 "  >

                <td title="'Apellidos'" sortable="'per_apellidos'"  >
                  <span class="editable-text">{% row.per_apellidos %}</span>
                </td>

                <td title="'Nombre'" sortable="'per_nombre'"  >
                  <span class="editable-text">{% row.per_nombre %}</span>
                </td>

                <td title="'Tipo Prestamo'" sortable="'nombre'"  >
                  <span class="editable-text">{% row.tipo_prestamo %}</span>
                </td>

                <td title="'Prestamo'" sortable="'valor_total'"  >
                  <span class="editable-text">{% row.valor_total %}</span>
                </td>

                <td title="'Coutas'" sortable="'num_cuotas'"  >
                  <span class="editable-text">{% row.num_cuotas %}</span>
                </td>

                <td title="'Fec. Desem'"   >
                  <span class="editable-text">{% row.fecha_desembolso | date:'dd/MM/yyyy' %}</span>
                </td>

              </tr>
            </table>
          </div>

      </uib-tab>

      <uib-tab index="3" select="vm.getPrestamos(4);">
        <uib-tab-heading>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Eliminados
        </uib-tab-heading>

          <div class="  wrapper-sm padd-sm-h">
            <div class="row" >
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-8">
                  <button type="button" ng-click="vm.getPrestamos(3);" class="btn btn-sm btn-addon margin-min-right btn-default ng-scope">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span class="ng-binding"> Refrescar Lista   </span>
                  </button>

                </div>
                <div class="col-sm-4">
                  <form role="search">
                    <div class="form-group margin-none">
                        <input type="search" ng-model="vm.search_text_4" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
                        <a class="search-clear fa fa-times-circle" ng-show="vm.search_text_4" ng-click="vm.search_text_4=''; "></a>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed "   >
              <tr>
                 <th width="25%"> Apellidos </th>
                 <th width="25%"> Nombre </th>
                 <th width="20%"> Tipo Prestamo </th>
                 <th width="10%"> Prestamo </th>
                 <th width="10%"> Coutas </th>
                 <th width="10%"> Fec. Desem  </th>
              </tr>
              <tr ng-repeat="row in vm.data_list_4  | filter:vm.search_text_4 "  >

                <td title="'Apellidos'" sortable="'per_apellidos'"  >
                  <span class="editable-text">{% row.per_apellidos %}</span>
                </td>

                <td title="'Nombre'" sortable="'per_nombre'"  >
                  <span class="editable-text">{% row.per_nombre %}</span>
                </td>

                <td title="'Tipo Prestamo'" sortable="'nombre'"  >
                  <span class="editable-text">{% row.tipo_prestamo %}</span>
                </td>

                <td title="'Prestamo'" sortable="'valor_total'"  >
                  <span class="editable-text">{% row.valor_total %}</span>
                </td>

                <td title="'Coutas'" sortable="'num_cuotas'"  >
                  <span class="editable-text">{% row.num_cuotas %}</span>
                </td>

                <td title="'Fec. Desem'"   >
                  <span class="editable-text">{% row.fecha_desembolso | date:'dd/MM/yyyy' %}</span>
                </td>

              </tr>
            </table>
          </div>


      </uib-tab>

    </uib-tabset>


        <!-- <div class="table-responsive">

          <table ng-table="vm.tableParams"
           class="table table-bordered table-hover table-condensed editable-table"
           ng-form="vm.tableForm" disable-filter="vm.isAdding"
            ng-table-columns-binding="vm.cols" >
            <colgroup>
              <col width="5%" style="width:45px;"/>
              <col width="25%" />
              <col width="25%" />
              <col width="20%" />
              <col width="10%" />
              <col width="10%" />
              <col width="10%" />
              <col width="10%" ng-show="vm.btn_in_table"/>
            </colgroup>
            <tr ng-repeat="row in $data " ng-form="rowForm" >
             <td data-title="'N°'" style="width:45px;">
                  <label class="i-checks m-b-none">
                     <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
                  </label>
              </td>

              <td title="'Apellidos'" sortable="'per_apellidos'"  >
                <span class="editable-text">{% row.per_apellidos %}</span>
              </td>

              <td title="'Nombre'" sortable="'per_nombre'"  >
                <span class="editable-text">{% row.per_nombre %}</span>
              </td>

              <td title="'Tipo Prestamo'" sortable="'nombre'"  >
                <span class="editable-text">{% row.tipo_prestamo %}</span>
              </td>

              <td title="'Prestamo'" sortable="'valor_total'"  >
                <span class="editable-text">{% row.valor_total %}</span>
              </td>

              <td title="'Coutas'" sortable="'num_cuotas'"  >
                <span class="editable-text">{% row.num_cuotas %}</span>
              </td>

              <td title="'Fec. Desem'"   >
                <span class="editable-text">{% row.fecha_desembolso | date:'dd/MM/yyyy' %}</span>
              </td>



              <td ng-if="vm.btn_in_table">
                <button class="btn btn-primary btn-sm" ng-click="vm.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn btn-default btn-sm" ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>

                <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing" ng-show="vm.btn_edit">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>


                  <button class="btn btn-danger btn-sm" ng-click="vm.del(row)" ng-if="!row.isEditing" ng-show="vm.btn_delete" >
                  <span class="glyphicon glyphicon-trash"></span>
                </button>

              </td>
            </tr>
          </table>

        </div> -->

    </div>
  </div>
</div>
