<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Prestamos</span>
</div>
<div ui-view>
   <div class="bg-light lter b-b wrapper-sm">
    <div class="row" >
      <div class="col-sm-12 col-xs-12  padd-none">
      <div class="col-sm-7 ">
         <botones-botonera></botones-botonera>
      </div>
      <div class="col-sm-5 ">
          <form role="search padd-none">
            <div class="col-sm-7  padd-none ">
                <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
                <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
              </div>
              <div class="col-sm-5 padd-none">
              <ui-select ng-model="vm.search_tipo_estado_id" theme="select2" on-select="vm.getPrestamos(vm.search_tipo_estado_id)" ng-required="true"  class=" select-max-width input-sm bg-light dker no-border rounded padder"   title="Buscar Estado">
                  <ui-select-match placeholder="Buscar Estado">{% $select.selected.descripcion %}</ui-select-match>
                  <ui-select-choices repeat="data.id  as data in vm.data_search_tipo_estados | propsFilter: {descripcion: $select.search}">
                    <div ng-bind-html="data.descripcion | highlight: $select.search"></div>


                  </ui-select-choices>
              </ui-select>
              </div>
          </form>
      </div>

      </div>
    </div>
</div>

  <div class="wrapper padd-sm-v">
    <div class="panel panel-default">

    <div class="table-responsive">
              <table ng-table="vm.tableParams"
               class="table table-bordered table-hover table-condensed editable-table"
               ng-form="vm.tableForm" disable-filter="vm.isAdding"
                ng-table-columns-binding="vm.cols" >
                <colgroup>
                  <col width="5%" style="width:45px;"/>
                  <col width="20%" />
                  <col width="20%" />
                  <col width="15%" />
                  <col width="10%" />
                  <col width="10%" />
                  <col width="10%" />
                  <!-- <col width="10%" ng-show="vm.btn_in_table"/> -->
                </colgroup>
                <tr ng-repeat="row in $data " ng-form="rowForm" >
                 <td data-title="'N°'" style="width:45px;">
                      <label class="i-checks m-b-none">
                         <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
                      </label>
                  </td>

                  <td title="'Apellidos'" sortable="'per_apellidos'"  >
                    <span class="editable-text">{% row.per_apellidos %}</span>
                  </td>

                  <td title="'Nombre'" sortable="'per_nombre'"  >
                    <span class="editable-text">{% row.per_nombre %}</span>
                  </td>

                  <td title="'Tipo Prestamo'" sortable="'nombre'"  >
                    <span class="editable-text">{% row.tipo_prestamo %}</span>
                  </td>

                  <td title="'Prestamo'" sortable="'valor_total'"  >
                    <span class="editable-text">{% row.valor_total %}</span>
                  </td>

                  <td title="'Coutas'" sortable="'num_cuotas'"  >
                    <span class="editable-text">{% row.num_cuotas %}</span>
                  </td>

                  <td title="'Fec. Desem'"   >
                    <span class="editable-text">{% row.fecha_desembolso | date:'dd/MM/yyyy' %}</span>
                  </td>
                  <td title="'Estado'" sortable="'tipo_estado'"  >
                    <span class="editable-text">{% row.tipo_estado  %}</span>
                  </td>


                  <!-- <td ng-if="vm.btn_in_table">
                    <button class="btn btn-primary btn-sm" ng-click="vm.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>

                    <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing" ng-show="vm.btn_edit">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>


                      <button class="btn btn-danger btn-sm" ng-click="vm.del(row)" ng-if="!row.isEditing" ng-show="vm.btn_delete" >
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>

                  </td> -->
                </tr>
              </table>
            </div>


    </div>
  </div>
</div>
