
<div class="padding-small-v">


<div class="clearfix"></div>
  <form class="" name="formData" novalidate ng-submit="vm.ok()">

        <div class="modal-header  " modal-draggable>
          <button type="button" class="close" ng-click="vm.reloadListPrestamos()">&times;</button>
          <h4 class="title-red modal-title text-bold">Nuevo Prestamo</h4 >
        </div>
        <div class="modal-body">

          <div class="col-sm-4">
            <div class="form-group">
              <label for="alerta" class=" control-label">Tipo Prestamos</label>

                <ui-select ng-model="vm.formData.tipo_prestamo" on-select="vm.onSelectTipoPrestamo($item, $model)" ng-required="true" style="max-width: 500px;" title="Seleccionar Tipo de Prestamo" ng-disabled="true">
                  <ui-select-match placeholder="Seleccionar Tipo de Prestamo">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_prestamos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Tipo de Couta</label>
               <ui-select ng-model="vm.formData.tipo_pago" ng-required="true" style="max-width: 500px;" title="Tipo Couta">
                  <ui-select-match placeholder="Tipo Couta">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_pagos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="alerta" class=" control-label">Cliente</label>
              <ui-select ng-model="vm.formData.cliente" ng-required="true" style="max-width: 500px;" title="Buscar Cliente ">
                  <ui-select-match placeholder="Buscar por Apellidos Nombres / Documento">{% $select.selected.full_name %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.clientes | propsFilter: {full_name: $select.search, documento: $select.search}">
                    <div ng-bind-html="row.full_name | highlight: $select.search"></div>
                      Doc: <span ng-bind-html="''+row.documento | highlight: $select.search"></span>
                      Email: <span ng-bind-html="''+row.mail | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
            </div>
          </div>

           <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Moneda</label>
              <ui-select ng-model="vm.formData.tipo_moneda" ng-required="true" style="max-width: 500px;" title="Moneda">
                  <ui-select-match placeholder="Moneda">{% $select.selected.simbolo %} {% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_monedas | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html=" row.simbolo + ' '+row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>
            </div>
          </div>




          <div class="clearfix"></div>
        <!-- ASCVEH -> credito / prestamos  -->
          <div class="col-ms-12 " ng-if="vm.ASCVEH">
            <ng-include src=" 'partials/movimientos/operaciones/prestamos/asc-veh.prestamo.tpl.html' "></ng-include>
          </div>


          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Interes(%)</label>
                <input type="text" name="interes" ng-model="vm.formData.interes" required class="form-control" is-decimal maxlength="10" placeholder="Interes">
            </div>
          </div>



          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Periodo(%)</label>
               <ui-select ng-model="vm.formData.tipo_periodo" on-select="vm.getAcuerdoPagosByTipoPeriodoId($item, $model)" ng-required="true" style="max-width: 500px;" title="Periodo">
                  <ui-select-match placeholder="Periodo">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_periodos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Acuerdo Pago</label>

                <ui-select ng-model="vm.formData.acuerdo_pago" ng-required="true" style="max-width: 500px;" title="Seleccionar Acuerdo P.">
                  <ui-select-match placeholder="Acuerdo Pago">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.acuerdo_pagos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>

            </div>
          </div>



          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">N° Coutas</label>
                <input type="text" name="num_coutas" ng-model="vm.formData.num_cuotas" required class="form-control" is-number maxlength="2" placeholder="N° Coutas">
            </div>
          </div>

          <!-- <div class="clearfix"></div> -->

        <!--   <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Mora</label>
                <input type="text" name="mora" ng-model="vm.formData.mora" required class="form-control" is-decimal maxlength="100" placeholder="Mora">
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Complacencia</label>
                <input type="text" name="complacencia" ng-model="vm.formData.complacencia" is-decimal required class="form-control" maxlength="100" placeholder="Complacencia">
            </div>
          </div>
          -->
          <div class="col-sm-2">
            <!-- <div class="form-group">
              <label for="alerta" class=" control-label">Pagos Parciales</label>
                <input type="text" name="pagos_parciales" ng-model="vm.formData.pagos_parciales" required class="form-control" maxlength="100" placeholder="Pagos Parciales">
            </div> -->

             <div class="form-group">
              <label class="  control-label hidden-xs" for="">Pagos Parciales</label>
              <div class="col-sm-12 btn-group">
                <label class=" " for="opt1">
                  <input type="radio" name="opt" ng-model="vm.formData.pagos_parciales" id="opt1" value="SI" >
                  <i class="fa fa-check text-active"></i> SI &nbsp;&nbsp;
                </label>
                <label class="" for="opt2">
                  <input type="radio" name="opt" ng-model="vm.formData.pagos_parciales" id="opt2" value="NO" >
                  <i class="fa fa-check text-active"  ></i> NO
                </label>
              </div>
            </div>

          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Propietario</label>
                <input type="text" name="propietario" ng-model="vm.formData.propietario" required class="form-control" maxlength="2" placeholder="Propietario" is-number>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="aval" class=" control-label">Aval</label>
                <ui-select id="aval" ng-model="vm.formData.aval"  style="max-width: 500px;" title="Buscar Aval">
                  <ui-select-match placeholder="Buscar por Apellidos Nombres / Documento">{% $select.selected.full_name %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.data_avales | propsFilter: {full_name: $select.search, dni: $select.search}">
                    <div ng-bind-html="row.full_name | highlight: $select.search"></div>
                      Dni: <span ng-bind-html="''+row.dni | highlight: $select.search"></span>
                      <!-- Email: <span ng-bind-html="''+row.mail | highlight: $select.search"></span> -->
                  </ui-select-choices>
                </ui-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="alerta" class=" control-label"> Observación</label>
                <input type="text" name="observacion" ng-model="vm.formData.observacion" required class="form-control" maxlength="100" placeholder="Observación">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="alerta" class=" control-label"> Garantia</label>
               <ui-select ng-model="vm.formData.tipo_garantia" ng-disabled="vm.activeTipoGarantia" ng-required="true" style="max-width: 500px;" title="Tipo Garantia">
                  <ui-select-match placeholder="Tipo Garantia">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_garantias | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="fcredito" class=" control-label">Fec. Creditos</label>
              <div class="input-group">
                  <input type="text" class="form-control" id="fcredito"
                  uib-datepicker-popup="dd/MM/yyyy"
                  ng-model="vm.formData.fecha_credito"
                  is-open="vm.popup3.opened"
                  show-button-bar="false"
                  ng-required="true"
                  ng-focus="vm.openCalendar3()"
                  close-text="Close"
                  datepicker-options="vm.dateOptions"
                  />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="vm.openCalendar3()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Fec. Desembolso</label>
              <div class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup="dd/MM/yyyy"
                  ng-model="vm.formData.fecha_desembolso"
                  is-open="vm.popup.opened"
                  show-button-bar="false"
                  ng-required="true"
                  ng-focus="vm.openCalendar()"
                  close-text="Close"
                  datepicker-options="vm.dateOptions"
                  />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="vm.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                </div>
            </div>
          </div>
          <!-- fecha_prorroga -->
          <div class="col-sm-2">
            <div class="form-group">
              <label  class=" control-label">Prorrateo <input type="checkbox" name="prorrateo" ng-model="vm.formData.check_prorrateo"   ng-change="vm.formData.check_prorrateo_esp = false; vm.formData.prorrateo_esp = null;" /> </label>
              <div class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup="dd/MM/yyyy"
                  ng-model="vm.formData.fecha_prorrateo"
                  is-open="vm.popup2.opened"
                  ng-focus="vm.openCalendar2()"
                  show-button-bar="false"
                  close-text="Close"
                  starting-day = "1"
                  show-weeks = "false"
                  min-date = "vm.formData.fecha_desembolso"
                  ng-disabled="!vm.formData.check_prorrateo"
                  />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="vm.openCalendar2()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-group">
              <label  class=" control-label">Prorrateo Especial<input type="checkbox" name="prorrateo_esp" ng-model="vm.formData.check_prorrateo_esp"   ng-change="vm.formData.check_prorrateo = false; vm.formData.fecha_prorrateo = null;" /> </label>
              <div class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup="dd/MM/yyyy"
                  ng-model="vm.formData.fecha_prorrateo_esp"
                  is-open="vm.popup4.opened"
                  ng-focus="vm.openCalendar4()"
                  show-button-bar="false"
                  close-text="Close"
                  starting-day = "1"
                  show-weeks = "false"
                  min-date = "vm.formData.fecha_desembolso"
                  ng-disabled="!vm.formData.check_prorrateo_esp"
                  />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="vm.openCalendar4()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
            </div>
          </div>


        </div>
        <div class="clearfix"></div>


    <div class="modal-footer">

        <button type="button" ng-click="vm.reloadListPrestamos()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
