
<div class="padding-small-v" >
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()">
      <div class="modal-header bg-info" modal-draggable  >
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Accesos de Usuario </h4 >
        </div>
        <div class="modal-body wrapper" style="min-height: 300px!important; max-height: 500px!important; overflow: auto;" >

        <button type="button" ng-click="vm.expandAll(vm.menus_accesos)" class="btn btn-default" >Expandir</button>

        <div ng-repeat="data in vm.menus_accesos">
              <tree branch="data" parent="data" ></tree>
        </div>

            <!-- <div  ivh-treeview="vm.menus_accesos"
              ivh-treeview-id-attribute="'id'"
              ivh-treeview-label-attribute="'nombre'"
              ivh-treeview-children-attribute="'children'"
              ivh-treeview-selected-attribute="'is_active'"
              ivh-treeview-expand-to-depth="-1"
              >
              </div>
 -->
        </div>




    <div class="modal-footer">

        <div class="col-sm-6  messages-error text-left ">
          <span>{% vm.msj.message %} </span>
          <ul class="text-sm">
            <li ng-repeat="errors in vm.msj.data "> {%errors[$index]%}</li>
          </ul>
        </div>

        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
