<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Lista de  Usuarios</span>
</div>
<div class="bg-light lter b-b wrapper-sm">
    <div class="row" >
      <div class="col-sm-12 col-xs-12">
      <div class="col-sm-8">
         <botones-botonera></botones-botonera>
      </div>
      <div class="col-sm-4">
        <form role="search">
          <div class="form-group margin-none">
              <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
              <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
            </div>
        </form>
      </div>

      </div>
    </div>
</div>
  <!-- Select2 theme -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

<div class="wrapper padd-sm-v">
<div class="panel panel-default">


    <div class="table-responsive">

       <table ng-table="vm.tableParams"
       class="table table-bordered table-hover table-bordered table-striped table-condensed"
       ng-form="vm.tableForm" disable-filter="vm.isAdding"
        ng-table-columns-binding="vm.cols" >
        <colgroup>
          <col width="5%" style="width:45px;"/>
          <col width="25%" />
          <col width="25%" />
          <col width="30%" />
          <col width="15%" />
        </colgroup>
        <tr ng-repeat="row in $data " >
         <td data-title="'N°'" style="width:45px;">
              <label class="i-checks m-b-none">
                 <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
              </label>
          </td>
          <td title="'Apellidos'" sortable="'per_nombre'" >{% row.per_nombre %}</td>
          <td title="'Nombre'" sortable="'per_apellidos'" >{% row.per_apellidos %}</td>
          <td title="'Email'" sortable="'email'" >{% row.email %}</td>
          <td title="'Rol'" sortable="'rol'" >{% row.rol %}</td>
        </tr>
      </table>




  </div>


</div>