
<div class="padding-small-v">
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()">
      <div class="modal-header bg-info" modal-draggable>
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Nueva Licencia</h4 >
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label"> Licencia</label>
              <div class="col-sm-9">
                <input type="text" name="nombre" ng-model="vm.formData.nombre" required class="form-control" maxlength="200" placeholder="Licencia">
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Descripción</label>
              <div class="col-sm-9">
                <input type="text" name="descripcion" ng-model="vm.formData.descripcion"  class="form-control" maxlength="200" placeholder="Descripcion">
              </div>
            </div>

        </div>


    <div class="modal-footer">

        <div class="col-sm-6  messages-error text-left ">
          <span>{% vm.msj.message %} </span>
          <ul class="text-sm">
            <li ng-repeat="errors in vm.msj.data "> {%errors[$index]%}</li>
          </ul>
        </div>

        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
