
<div class="padding-small-v">
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()">
      <div class="modal-header bg-info" modal-draggable>
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Nuevo Rol</h4 >
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Descripcion</label>
              <div class="col-sm-10">
                <input type="text" name="nombre" ng-model="vm.formData.nombre" required class="form-control" maxlength="100" placeholder="Rol">
              </div>
            </div>

           <div class="row messages-error">
             {%vm.msj%}
            </div>


        </div>


    <div class="modal-footer">

        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
