<div class="bg-light lter b-b wrapper-sm">
  <span class="fs-1x-md">Lista de {% vm.title_page %} </span>
</div>
<div ui-view>
  <div class="bg-light lter b-b wrapper-sm">
      <div class="row" >
        <div class="col-sm-12 col-xs-12">
          <div class="col-sm-8">
             <botones-botonera></botones-botonera>
          </div>

          <div class="col-sm-4">
            <form role="search">
              <div class="form-group margin-none">
                  <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
                  <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
                </div>
            </form>
          </div>

        </div>
      </div>
  </div>

  <div class="wrapper padd-sm-v">
    <div class="panel panel-default" >

    <div class="table-responsive">

      <table ng-table="vm.tableParams" class="table table-bordered table-hover table-bordered table-striped table-condensed">
        <tr ng-repeat="row in $data ">
          <td data-title="'N°'" style="width:50px;" >
              <label class="i-checks m-b-none">
                 <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
              </label>
          </td>
          <td data-title="'DNI'"  sortable="'dni'"  style="width:120px;">{% row.dni %}</td>
          <td data-title="'Apellidos'"  sortable="'per_apellidos'" >{% row.per_apellidos %}</td>
          <td data-title="'Nombres'"  sortable="'per_nombre'" >{% row.per_nombre %}</td>
          <td data-title="'Telefono'"  >{% row.telefono %}</td>
          <td data-title="'Email'"  >{% row.mail %}</td>
        </tr>
      </table>

       <!--  <td data-title="'DNI'"  sortable="'dni'"  filter="{dni: 'text'}"  style="width:120px;">{% row.dni %}</td>
          <td data-title="'Apellidos'"  sortable="'apellidos'" filter="{apellidos: 'text'}">{% row.apellidos %}</td>
          <td data-title="'Nombres'"  sortable="'nombres'" filter="{nombres: 'text'}">{% row.nombres %}</td>
          <td data-title="'Telefono'"  >{% row.telefono %}</td>
          <td data-title="'Email'"  >{% row.mail %}</td> -->
    </div>


    </div>
  </div>
</div>