
<div class="padding-small-v">
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()">
      <div class="modal-header bg-info" modal-draggable>
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Editar Empleado</h4 >
        </div>
        <div class="modal-body">

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Empleado </label>
              <div class="col-sm-10">
                <input type="text" name="nombres" ng-model="vm.formData.nombre" required class="form-control" maxlength="150" placeholder="Nombres" disabled="true">
              </div>
            </div>


            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Área</label>
              <div class="col-sm-10">
                <ui-select ng-model="vm.formData.area" on-select="vm.onSelectedCargoByArea($item)"  ng-required="true" style="max-width:500px;" title="Buscar Area">
                  <ui-select-match placeholder="Seleccionar Area">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.data_areas | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

             <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Cargo</label>
              <div class="col-sm-10">
                <ui-select ng-model="vm.formData.cargo"  ng-required="true" style="max-width:500px;" title="Buscar Cargo">
                  <ui-select-match placeholder="Seleccionar Cargo">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.data_cargos_area | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>




        </div>


    <div class="modal-footer">

        <div class="col-sm-6  messages-error text-left ">
          <span>{% vm.msj.message %} </span>
          <ul class="text-sm">
            <li ng-repeat="errors in vm.msj.data "> {%errors[$index]%}</li>
          </ul>
        </div>

        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
