<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Lista de Empleados</span>
</div>
<div class="bg-light lter b-b wrapper-sm">
    <div class="row" >
      <div class="col-sm-12 col-xs-12">
      <div class="col-sm-8">
         <botones-botonera></botones-botonera>
      </div>
      <div class="col-sm-4">
        <form role="search">
          <div class="form-group margin-none">
              <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
              <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
            </div>
        </form>
      </div>

      </div>
    </div>
</div>


<div class="wrapper padd-sm-v">
<div class="panel panel-default">

    <div class="table-responsive">

       <table ng-table="vm.tableParams"
       class="table table-bordered table-hover table-bordered table-striped table-condensed"
       ng-form="vm.tableForm" disable-filter="vm.isAdding"
        ng-table-columns-binding="vm.cols" >
        <colgroup>
          <col width="5%" >
          <col width="15%" />
          <col width="25%" />
          <col width="25%" />
          <col width="20%" />
          <col width="10%" />
        </colgroup>
        <tr ng-repeat="row in $data " >
         <td data-title="'N°'" style="width:45px;">
              <label class="i-checks m-b-none">
                 <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
              </label>
          </td>
          <td title="'DNI'" sortable="'dni'" >{% row.dni %}</td>
          <td title="'Apellidos'" sortable="'per_nombre'" >{% row.per_nombre %}</td>
          <td title="'Nombre'" sortable="'per_apellidos'" >{% row.per_apellidos %}</td>
          <td title="'Cargo'" sortable="'Cargo'" >{% row.cargo %}</td>
          <td title="'Email'" sortable="'email'" >{% row.mail %}</td>
          <td title="'Telefono'"   >{% row.telefono %}</td>
        </tr>
      </table>




  </div>


</div>