<!--
modalOptions.class = success, info ,warning , danger
 -->
<div class="modal-body" style="padding:0px">
   <div class="alert " ng-class="modalOptions.class? 'alert-'+modalOptions.class  : 'alert-warning' " style="margin-bottom:0px" >
     <button type="button" class="close" data-ng-click="modalOptions.close();" >
       <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
   <strong>{% modalOptions.bodyText %}</strong>
 </div>
</div>