<div class="modal-header bg-info">
  <h4 class="margin-none">{% modalOptions.headerText %}</h4>
</div>
<div class="modal-body">
  <p>{% modalOptions.bodyText %}</p>
</div>
<div class="modal-footer">
    <button type="button"  class="btn m-b-xs btn-default btn-addon" ng-click="modalOptions.close()">
          <i class="fa fa-ban"></i>{% modalOptions.closeButtonText %}
    </button>
    <button type="button" ng-click="modalOptions.ok();" class="btn m-b-xs btn-danger btn-addon">
      <i class="fa fa-trash"></i>{% modalOptions.actionButtonText %}
    </button>

</div>