<div class="modal-header bg-info">
  <h3>{% modalOptions.headerText %}</h3>
</div>
<div class="modal-body">
  <p>{% modalOptions.bodyText %}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn"
          data-ng-click="modalOptions.close()">{% modalOptions.closeButtonText %}</button>
  <button class="btn m-b-xs btn-danger btn-addon"
          ng-click="modalOptions.ok();">{% modalOptions.actionButtonText %}</button>
</div>