<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Detalle de Prestamo</span>
  <button type="button" ng-click="vm.reloadList()"class="btn m-b-xs btn-default pull-right" title="regresar">
          <i class="fa fa-arrow-left"></i>
</div>
<div ui-view>


  <div class="wrapper padd-sm-v">
    <div class="panel panel-default">

    <uib-tabset active="active">

      <uib-tab index="1" select="vm.getPrestamos(1);">
        <uib-tab-heading>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Información Prestamos
        </uib-tab-heading>


          <div class="">

            <div class="col-sm-4">
              <div class="form-group">
                <label for="alerta" class=" control-label">Tipo Prestamos</label>

                  <ui-select ng-model="vm.formData.tipo_prestamo_id" on-select="vm.onSelectTipoPrestamo($item, $model)" ng-required="true" style="max-width: 500px;" title="Seleccionar Tipo de Prestamo" ng-disabled="true">
                    <ui-select-match placeholder="Seleccionar Tipo de Prestamo">{% $select.selected.nombre %}</ui-select-match>
                    <ui-select-choices repeat="row.id as row in vm.tipo_prestamos | propsFilter: {nombre: $select.search}">
                      <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                    </ui-select-choices>
                  </ui-select>

              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">Tipo de Couta</label>
                 <ui-select ng-model="vm.formData.tipo_pago_id" ng-required="true" style="max-width: 500px;" title="Tipo Couta" ng-disabled="vm.disabledInput">
                    <ui-select-match placeholder="Tipo Couta">{% $select.selected.nombre %}</ui-select-match>
                    <ui-select-choices repeat="row.id as row in vm.tipo_pagos | propsFilter: {nombre: $select.search}">
                      <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="alerta" class=" control-label">Cliente</label>
                <ui-select ng-model="vm.formData.cliente_id" ng-required="true" style="max-width: 500px;" title="Buscar Cliente " ng-disabled="vm.disabledInput">
                    <ui-select-match placeholder="Buscar por Apellidos Nombres / Documento">{% $select.selected.full_name %}</ui-select-match>
                    <ui-select-choices repeat="row.id as row in vm.clientes | propsFilter: {full_name: $select.search, documento: $select.search}">
                      <div ng-bind-html="row.full_name | highlight: $select.search"></div>
                        Doc: <span ng-bind-html="''+row.documento | highlight: $select.search"></span>
                        Email: <span ng-bind-html="''+row.mail | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>

             <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">Moneda</label>
                <ui-select ng-model="vm.formData.tipo_moneda_id" ng-required="true" style="max-width: 500px;" title="Moneda" ng-disabled="vm.disabledInput">
                    <ui-select-match placeholder="Moneda">{% $select.selected.simbolo %} {% $select.selected.nombre %}</ui-select-match>
                    <ui-select-choices repeat="row.id as row in vm.tipo_monedas | propsFilter: {nombre: $select.search}">
                      <div ng-bind-html=" row.simbolo + ' '+row.nombre | highlight: $select.search"></div>

                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">Monto de Prestamos</label>
                  <input type="text" name="interes" ng-model="vm.formData.monto" required class="form-control" is-decimal maxlength="20" placeholder="Monto de Prestamos" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">Interes(%)</label>
                  <input type="text" name="interes" ng-model="vm.formData.interes" required class="form-control" is-decimal maxlength="10" placeholder="Interes" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">Periodo(%)</label>
                 <ui-select ng-model="vm.formData.tipo_periodo_id" on-select="vm.getAcuerdoPagosByTipoPeriodoId($item, $model)" ng-required="true" style="max-width: 500px;" title="Periodo" ng-disabled="vm.disabledInput">
                    <ui-select-match placeholder="Periodo">{% $select.selected.nombre %}</ui-select-match>
                    <ui-select-choices repeat="row.id as row in vm.tipo_periodos | propsFilter: {nombre: $select.search}">
                      <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label" >Acuerdo Pago</label>

                  <ui-select ng-model="vm.formData.acuerdo_pago_id" ng-required="true" style="max-width: 500px;" title="Seleccionar Acuerdo P." ng-disabled="vm.disabledInput">
                    <ui-select-match placeholder="Acuerdo Pago">{% $select.selected.nombre %}</ui-select-match>
                    <ui-select-choices repeat="row.id as row in vm.acuerdo_pagos | propsFilter: {nombre: $select.search}">
                      <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                    </ui-select-choices>
                  </ui-select>

              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">N° Coutas</label>
                  <input type="text" name="num_coutas" ng-model="vm.formData.num_cuotas" required class="form-control" is-number maxlength="2" placeholder="N° Coutas" ng-disabled="vm.disabledInput">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">Complacencia(Días)</label>
                  <input type="text" name="complacencia" ng-model="vm.formData.complacencia" is-number required class="form-control" placeholder="Complacencia" ng-disabled="vm.disabledInput">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="alerta" class=" control-label"> Observación</label>
                  <input type="text" name="observacion" ng-model="vm.formData.observacion" required class="form-control" maxlength="100" placeholder="Observación" ng-disabled="vm.disabledInput">
              </div>
            </div>



            <div class="col-sm-2">
              <div class="form-group">
                <label for="fcredito" class=" control-label">Fec. Creditos</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="fcredito"
                    uib-datepicker-popup="dd/MM/yyyy"
                    ng-model="vm.formData.fecha_credito"
                    is-open="vm.popup3.opened"
                    show-button-bar="false"
                    ng-required="true"
                    ng-focus="vm.openCalendar3()"
                    close-text="Close"
                    datepicker-options="vm.dateOptions"
                    ng-disabled="vm.disabledInput"
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-disabled="vm.disabledInput" ng-click="vm.openCalendar3()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>

                  </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label for="alerta" class=" control-label">Fec. Desembolso</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                    uib-datepicker-popup="dd/MM/yyyy"
                    ng-model="vm.formData.fecha_desembolso"
                    is-open="vm.popup.opened"
                    show-button-bar="false"
                    ng-required="true"
                    ng-focus="vm.openCalendar()"
                    close-text="Close"
                    datepicker-options="vm.dateOptions"
                    ng-disabled="vm.disabledInput"
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-disabled="vm.disabledInput"  ng-click="vm.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>

                  </div>
              </div>
            </div>
            <div class="clearfix"></div>

              <div class="col-sm-12">
                <h4 >Web Referencias (Opcional) </h4>
                <div class="b-b line dk hidden-folded"></div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" name="complacencia" ng-model="vm.formData.referencia_web" ng-value="vm.data_ref_web[0].descripcion" class="form-control" placeholder="Referencia Web" ng-disabled="vm.disabledInput">
                    </div>
                </div>
                <div class="clearfix"></div>

                <h4>Documentos Referencia(Pdf, Doc, Excel, Imagen,etc...)  </h4>
                <div class="b-b line dk hidden-folded"></div>
                <div class="clearfix"></div>
                <table class="table table-bordered table-hover table-condensed  ">
                    <tr>
                        <th style="width: 50%">Descripcion </th>
                        <th style="width: 40%">Archvio</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat=" row in vm.data_referencias">
                            <td>{% row.descripcion %} </td>
                            <td> <a ng-href="{%row.url%}" target="_blank" title="ver Archivo"> Descrgar </a> </td>

                        </tr>
                    </tbody>
                </table>



                <div class="b-b line dk hidden-folded"></div>
                <div class="clearfix"></div>

                <h4> Garantias </h4>
                <div class="b-b line dk hidden-folded"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="col-md-12">

                    <table ng-table="vm.tableParams" class="table table-bordered table-hover table-condensed editable-table" >
                         <tr>
                           <th style="width: 30%">Tipo Garantia </th>
                           <th style="width: 30%">Producto</th>
                           <th style="width: 20%">Serie</th>
                           <th style="width: 20%">Descripción</th>
                         </tr>
                        <tr ng-repeat=" row in vm.data_garantias">
                            <td>{% row.tipo_garantia.nombre %} </td>
                            <td>{% row.producto %} </td>
                            <td>{% row.serie %} </td>
                            <td>{% row.descripcion %} </td>

                        </tr>
                    </table>
                </div>
              </div>

          </div>

            <div class="clearfix"></div>
      </uib-tab>

      <uib-tab index="2" select="vm.getPrestamos(2);">
        <uib-tab-heading>
          <i class="fa fa-check-square" aria-hidden="true"></i>
          Cronograma de Pago
        </uib-tab-heading>

          <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th style="with: 40%" colspan="4" >Fechas de Pagos</th>
                  <th style="with: 10%">Capital</th>
                  <th style="with: 10%">Amortización</th>
                  <th style="with: 10%">Sobre Costo</th>
                  <th style="with: 10%">Cuota</th>
                  <th style="with: 10%">Cuota Parte</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in vm.data_list_coutas ">
                  <td> {% $index+1 %} </td>
                  <td>{% row.fecha_parte_1 | date:'dd/MM/yyyy' %}</td>
                  <td>{% row.fecha_parte_2 | date:'dd/MM/yyyy' %}</td>
                  <td>{% row.fecha_parte_3 | date:'dd/MM/yyyy' %}</td>
                  <td><strong>{% row.fecha_pago | date:'dd/MM/yyyy' %}</strong></td>
                  <td>{% row.saldo_capital %}</td>
                  <td>{% row.amortizacion %}</td>
                  <td>{% row.interes %}</td>
                  <td>{% row.cuota %}</td>
                  <td>{% row.cuota_parte %}</td>
                </tr>
              </tbody>
          </table>


      </uib-tab>

      <uib-tab index="3" select="vm.getPrestamos(3);">
        <uib-tab-heading>
          <i class="fa fa-ban" aria-hidden="true"></i> Información Extra
        </uib-tab-heading>

          <!-- <div class="  wrapper-sm padd-sm-h">
            <div class="row" >
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-8">
                  <button type="button" ng-click="vm.getPrestamos(3);" class="btn btn-sm btn-addon margin-min-right btn-default ng-scope">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span class="ng-binding"> Refrescar Lista   </span>
                  </button>

                </div>
                <div class="col-sm-4">
                  <form role="search">
                    <div class="form-group margin-none">
                        <input type="search" ng-model="vm.search_text_3" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
                        <a class="search-clear fa fa-times-circle" ng-show="vm.search_text_3" ng-click="vm.search_text_3=''; "></a>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed "   >
              <tr>
                 <th width="25%"> Apellidos </th>
                 <th width="25%"> Nombres </th>
                 <th width="25%"> Estado </th>
                 <th width="25%"> Fecha  </th>
                 <th width="25%"> Observacion  </th>
              </tr>
              <tr ng-repeat="row in vm.data_estados_info  "  >

                <td title="'Apellidos'" sortable="'per_apellidos'"  >
                  <span class="editable-text">{% row.per_apellidos %}</span>
                </td>

                <td title="'Nombre'" sortable="'per_nombre'"  >
                  <span class="editable-text">{% row.per_nombre %}</span>
                </td>

                <td title="'Prestamo'" sortable="'descripcion'"  >
                  <span class="editable-text">{% row.descripcion %}</span>
                </td>

                <td title="'Fec. Desem'"   >
                  <span class="editable-text">{% row.created_at | date:'dd/MM/yyyy H:m:s' %}</span>
                </td>

                 <td title="'Observación'" sortable="'glosa'"  >
                  <span class="editable-text">{% row.glosa %}</span>
                </td>

              </tr>
            </table>
          </div>

      </uib-tab>



    </uib-tabset>


        <!-- <div class="table-responsive">

          <table ng-table="vm.tableParams"
           class="table table-bordered table-hover table-condensed editable-table"
           ng-form="vm.tableForm" disable-filter="vm.isAdding"
            ng-table-columns-binding="vm.cols" >
            <colgroup>
              <col width="5%" style="width:45px;"/>
              <col width="25%" />
              <col width="25%" />
              <col width="20%" />
              <col width="10%" />
              <col width="10%" />
              <col width="10%" />
              <col width="10%" ng-show="vm.btn_in_table"/>
            </colgroup>
            <tr ng-repeat="row in $data " ng-form="rowForm" >
             <td data-title="'N°'" style="width:45px;">
                  <label class="i-checks m-b-none">
                     <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
                  </label>
              </td>

              <td title="'Apellidos'" sortable="'per_apellidos'"  >
                <span class="editable-text">{% row.per_apellidos %}</span>
              </td>

              <td title="'Nombre'" sortable="'per_nombre'"  >
                <span class="editable-text">{% row.per_nombre %}</span>
              </td>

              <td title="'Tipo Prestamo'" sortable="'nombre'"  >
                <span class="editable-text">{% row.tipo_prestamo %}</span>
              </td>

              <td title="'Prestamo'" sortable="'valor_total'"  >
                <span class="editable-text">{% row.valor_total %}</span>
              </td>

              <td title="'Coutas'" sortable="'num_cuotas'"  >
                <span class="editable-text">{% row.num_cuotas %}</span>
              </td>

              <td title="'Fec. Desem'"   >
                <span class="editable-text">{% row.fecha_desembolso | date:'dd/MM/yyyy' %}</span>
              </td>



              <td ng-if="vm.btn_in_table">
                <button class="btn btn-primary btn-sm" ng-click="vm.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn btn-default btn-sm" ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>

                <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing" ng-show="vm.btn_edit">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>


                  <button class="btn btn-danger btn-sm" ng-click="vm.del(row)" ng-if="!row.isEditing" ng-show="vm.btn_delete" >
                  <span class="glyphicon glyphicon-trash"></span>
                </button>

              </td>
            </tr>
          </table>

        </div> -->

    </div>
  </div>
</div>
