<div class="padding-small-v">
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()" autocomplete="off">
      <div class="modal-header bg-info" modal-draggable>
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Aprobar Credito</h4 >
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Mora x Dia</label>
              <div class="col-sm-9">
                <input type="text" name="mora" ng-model="vm.formData.mora" required class="form-control" maxlength="5" placeholder="Mora por dia " is-number>
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Nota</label>
              <div class="col-sm-10">
                <span> Luego de aprobar el credito, no podra modificar ningun dato del credito </span>
              </div>
            </div>

        </div>


    <div class="modal-footer">

        <div class="col-sm-6  messages-error text-left ">
          <span>{% vm.msj.message %} </span>
          <ul class="text-sm">
            <li ng-repeat="errors in vm.msj.data "> {%errors[$index]%}</li>
          </ul>
        </div>

        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
