
<div class="padding-small-v">


<div class="clearfix"></div>
  <form class="" name="formData" novalidate ng-submit="vm.save()">

        <div class="modal-header  " modal-draggable>
          <button type="button" class="close" ng-click="vm.reloadList()">&times;</button>
          <h4 class="title-red modal-title text-bold">Nuevo Credito Menor</h4 >
        </div>
        <div class="modal-body">

          <div class="col-sm-4">
            <div class="form-group">
              <label for="alerta" class=" control-label">Tipo Prestamos</label>

                <ui-select ng-model="vm.formData.tipo_prestamo" ng-required="true" style="max-width: 500px;" title="Seleccionar Tipo de Prestamo" ng-disabled="true">
                  <ui-select-match placeholder="Seleccionar Tipo de Prestamo">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_prestamos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>

            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Tipo de Couta</label>
               <ui-select ng-model="vm.formData.tipo_pago" ng-required="true" style="max-width: 500px;" title="Tipo Couta" on-select="vm.onSelectTipoCuota($item, $model)">
                  <ui-select-match placeholder="Tipo Couta">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_pagos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="alerta" class=" control-label">Cliente</label>
              <ui-select ng-model="vm.formData.cliente" ng-required="true" style="max-width: 500px;" title="Buscar Cliente ">
                  <ui-select-match placeholder="Buscar por Apellidos Nombres / Documento">{% $select.selected.full_name %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.clientes | propsFilter: {full_name: $select.search, documento: $select.search}">
                    <div ng-bind-html="row.full_name | highlight: $select.search"></div>
                      Doc: <span ng-bind-html="''+row.documento | highlight: $select.search"></span>
                      Email: <span ng-bind-html="''+row.mail | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
            </div>
          </div>

           <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Moneda</label>
              <ui-select ng-model="vm.formData.tipo_moneda" ng-required="true" style="max-width: 500px;" title="Moneda">
                  <ui-select-match placeholder="Moneda">{% $select.selected.simbolo %} {% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_monedas | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html=" row.simbolo + ' '+row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>
            </div>
          </div>

          <div class="clearfix"></div>


          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Monto de Prestamos</label>
                <input type="text" name="interes" ng-model="vm.formData.monto" required class="form-control" is-decimal maxlength="20" placeholder="Monto de Prestamos">
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Interes(%)</label>
                <input type="text" name="interes" ng-model="vm.formData.interes" required class="form-control" is-decimal maxlength="10" placeholder="Interes">
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Periodo(%)</label>
               <ui-select ng-model="vm.formData.tipo_periodo" on-select="vm.getAcuerdoPagosByTipoPeriodoId($item, $model)" ng-required="true" style="max-width: 500px;" title="Periodo">
                  <ui-select-match placeholder="Periodo">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.tipo_periodos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Acuerdo Pago</label>

                <ui-select ng-model="vm.formData.acuerdo_pago" ng-required="true" style="max-width: 500px;" title="Seleccionar Acuerdo P.">
                  <ui-select-match placeholder="Acuerdo Pago">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.acuerdo_pagos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

                  </ui-select-choices>
                </ui-select>

            </div>
          </div>



          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">N° Coutas</label>
                <input type="text" name="num_coutas" ng-model="vm.formData.num_cuotas" required class="form-control" is-number maxlength="2" placeholder="N° Coutas">
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Complacencia(Días)</label>
                <input type="text" name="complacencia" ng-model="vm.formData.complacencia" is-number required class="form-control" placeholder="Complacencia">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="alerta" class=" control-label"> Observación</label>
                <input type="text" name="observacion" ng-model="vm.formData.observacion" required class="form-control" maxlength="100" placeholder="Observación">
            </div>
          </div>



          <div class="col-sm-2">
            <div class="form-group">
              <label for="fcredito" class=" control-label">Fec. Creditos</label>
              <div class="input-group">
                  <input type="text" class="form-control" id="fcredito"
                  uib-datepicker-popup="dd/MM/yyyy"
                  ng-model="vm.formData.fecha_credito"
                  is-open="vm.popup3.opened"
                  show-button-bar="false"
                  ng-required="true"
                  ng-focus="vm.openCalendar3()"
                  close-text="Close"
                  datepicker-options="vm.dateOptions"
                  />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="vm.openCalendar3()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="alerta" class=" control-label">Fec. Desembolso</label>
              <div class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup="dd/MM/yyyy"
                  ng-model="vm.formData.fecha_desembolso"
                  is-open="vm.popup.opened"
                  show-button-bar="false"
                  ng-required="true"
                  ng-focus="vm.openCalendar()"
                  close-text="Close"
                  datepicker-options="vm.dateOptions"
                  />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="vm.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                </div>
            </div>
          </div>
          <div class="clearfix"></div>

					<h4>Web Referencias (Opcional) </h4>
          <div class="b-b line dk hidden-folded"></div>
     			<div class="col-sm-6">
						<div class="form-group">
							<!-- <label for="alerta" class=" control-label">Web(Opcional)</label> -->
							<input type="text" name="complacencia" ng-model="vm.formData.referencia_web"  class="form-control" placeholder="Referencia Web">
						</div>
					</div>

          <div class="clearfix"></div>
					<h4>Documentos Referencia(Pdf, Doc, Excel, Imagen,etc...)  </h4>
					<div class="b-b line dk hidden-folded"></div>
          <div class="clearfix"></div>

					<div class="col-sm-12">
						<div class="form-group"  >
							<label for="seleccionar" class="col-sm-2 control-label text-right">Seleccionar Archivos</label>
							<div class="col-sm-10">
								<input type="file" id="seleccionar"
									nv-file-select
									uploader="vm.uploader"
									class="form-control"
									/><br/>
							</div>
						</div>
					</div>
					<div class="col-md-12" ng-if="vm.uploader.queue.length>0"  >
						<table class="table">
							<thead>
								<tr>
									<th width="30%">Nombre de Archivo</th>
									<th width="30%">Descripción</th>
									<th width="10%" ng-show="vm.uploader.isHTML5">Tañamo</th>
									<th width="15%" ng-show="vm.uploader.isHTML5">Progreso</th>
									<th width="5%">Estado</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in vm.uploader.queue">
									<td><strong title="{% item.file.name %}">{% item.file.name  %}</strong></td>
									 <td>
							           <input type="text" ng-model="vm.file_descripcion[$index]" class="form-control" placeholder="Ingresar Descripción" required/>
							    </td>
									<td ng-show="vm.uploader.isHTML5" nowrap>{% item.file.size/1024/1024|number:2 %} MB</td>
									<td ng-show="vm.uploader.isHTML5">
										<div class="progress" style="margin-bottom: 0;">
											<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
										</div>
									</td>
									<td class="text-center">
										<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
										<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
										<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
									</td>
									<td nowrap>
										<!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
										<span class="glyphicon glyphicon-upload"></span> Subir
										</button> -->
										<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
										<span class="glyphicon glyphicon-ban-circle"></span> Cancelar
										</button>
										<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()" ng-hide="item.isSuccess">
										<span class="glyphicon glyphicon-trash"></span> Eliminar
										</button>
									</td>
								</tr>
							</tbody>
						</table>

						<div>
							Progress de Colas:
							<div class="progress"  >
								<div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
							</div>
						</div>

					</div>

          <div class="b-b line dk hidden-folded"></div>


					<div class="clearfix"></div>
					<h4> Garantias </h4>
					<div class="b-b line dk hidden-folded"></div>
					<div class="clearfix"></div>



					<div class="clearfix"></div>

          <div class="col-md-12"  >
							<div class="brn-group pull-right">
								<button type="button" class="btn btn-default" ng-if="vm.isEditing" ng-click="vm.cancelChanges()">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<button type="button" class="btn btn-primary" ng-if="!vm.isEditing" ng-click="vm.isEditing = true">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button type="button" class="btn btn-primary" ng-if="vm.isEditing" ng-disabled="!vm.hasChanges() || vm.tableTracker.$invalid" ng-click="vm.saveChanges()">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button type="button" class="btn btn-default" ng-click="vm.add()">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
							<table ng-table="vm.tableParams" class="table table-bordered table-hover table-condensed editable-table" ng-form="vm.tableForm" show-filter="false" >
								<colgroup>
									<col width="20%" />
									<col width="20%" />
									<col width="15%" />
									<col width="40%" />
								</colgroup>

								<tr ng-repeat="row in $data" ng-form="rowForm" vm-tracked-table-row="row">

                  <td title="'Garantia'" sortable="'tipo_garantia.nombre'" ng-switch="vm.isEditing" ng-class="tipo_garantia.nombre.$dirty ? 'bg-warning' : ''" ng-form="tipo_garantia.nombre">
                      <span ng-switch-default class="editable-text">{% row.tipo_garantia.nombre %}</span>
                      <div class="controls" ng-class="tipo_garantia.nombre.$invalid && tipo_garantia.nombre.$dirty ? 'has-error' : ''" ng-switch-when="true">
                          <ui-select ng-model="row.tipo_garantia" ng-disabled="vm.activeTipoGarantia" ng-required="true" style="max-width: 500px;" title="Tipo Garantia">
                              <ui-select-match placeholder="Tipo Garantia">{% $select.selected.nombre %}</ui-select-match>
                              <ui-select-choices repeat=" row_select in vm.tipo_garantias | propsFilter: {nombre: $select.search}">
                                  <div ng-bind-html="row_select.nombre | highlight: $select.search"></div>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </td>

									 <!-- <td title="'Garantia'" sortable="'garantia.nombre'" ng-switch="vm.isEditing" ng-class="garantia.nombre.$dirty ? 'bg-warning' : ''" ng-form="garantia.nombre">
				            <span ng-switch-default class="editable-text">{% row.garantia.nombre %}</span>
				            <div class="controls" ng-class="garantia.nombre.$invalid && garantia.nombre.$dirty ? 'has-error' : ''" ng-switch-when="true">
								        <ui-select ng-model="row.tipo_garantia" ng-disabled="vm.activeTipoGarantia" ng-required="true" style="max-width: 500px;" title="Tipo Garantia">
				                  <ui-select-match placeholder="Tipo Garantia">{% $select.selected.nombre %}</ui-select-match>
				                  <ui-select-choices repeat=" row in vm.tipo_garantias | propsFilter: {nombre: $select.search}">
				                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>

				                  </ui-select-choices>
				                </ui-select>

				            </div>
				          </td> -->

									<td title="'Producto'" ng-switch="vm.isEditing" ng-class="producto.$dirty ? 'bg-warning' : ''" ng-form="producto" >
										<span ng-switch-default class="editable-text">{%row.producto%}</span>
										<div class="controls" ng-class="producto.$invalid && producto.$dirty ? 'has-error' : ''" ng-switch-when="true">
											<input type="text" name="producto" ng-model="row.producto" class="editable-input form-control input-sm" required />
										</div>
									</td>

									<td title="'Serie'" ng-switch="vm.isEditing" ng-class="serie.$dirty ? 'bg-warning' : ''" ng-form="serie" >
										<span ng-switch-default class="editable-text">{%row.serie%}</span>
										<div class="controls" ng-class="serie.$invalid && serie.$dirty ? 'has-error' : ''" ng-switch-when="true">
											<input type="text" name="serie" ng-model="row.serie" class="editable-input form-control input-sm" required />
										</div>
									</td>

									<td title="'Descripción'" ng-switch="vm.isEditing" ng-class="descripcion.$dirty ? 'bg-warning' : ''" ng-form="descripcion" >
										<span ng-switch-default class="editable-text">{%row.descripcion%}</span>
										<div class="controls" ng-class="descripcion.$invalid && descripcion.$dirty ? 'has-error' : ''" ng-switch-when="true">
											<input type="text" name="descripcion" ng-model="row.descripcion" class="editable-input form-control input-sm"  />
										</div>
									</td>

									<td>
										<button type="button" class="btn btn-danger btn-sm" ng-click="vm.del(row)" ng-disabled="!vm.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
									</td>
								</tr>
							</table>
						</div>

        </div>
        <div class="clearfix"></div>


    <div class="modal-footer">

        <button type="button" ng-click="vm.reloadListPrestamos()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
