<div class="wrapper ">

  <div class="padding-small-v">

        <div class="modal-header bg-info bg">
            <a  class="close" ng-click="vm.reloadListPersona()">&times;</a>
            <h4 class="modal-title">Editar Persona</h4 >
          </div>
          <div class="modal-body form-horizontal">

              <div class="form-group">
                <label for="alerta" class="col-sm-2 control-label">DNI</label>
                <div class="col-sm-10">
                <span
                 editable-text="vm.formData.dni"
                 onaftersave="vm.updateDni($data)"
                 e-required
                 e-minlength="8"
                 e-maxlength="8"
                 e-is-number=""
                 e-pattern="[0-9]{8}"
                >{% vm.formData.dni || 'empty' %}</span>
                </div>
              </div>

              <div class="line line-dashed b-b line-lg pull-in"></div>

              <form editable-form name="editableForm" onaftersave="vm.updatePerNatInfo()">

                <div class="form-group">
                  <label for="alerta" class="col-sm-2 control-label">Apellidos</label>
                  <div class="col-sm-10">
                    <span
                      editable-text="vm.formData.apellidos"
                      e-name="Apellidos"
                      e-required
                      e-minlength="5"
                      e-maxlength="150"
                      e-placeholder="Apellidos" >
                      {% vm.formData.apellidos %}
                    </span>

                      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                        Editar
                      </button>
                  </div>
                </div>

                <div class="form-group">
                  <label for="alerta" class="col-sm-2 control-label">Nombres</label>
                  <div class="col-sm-10">
                    <span
                      editable-text="vm.formData.nombres"
                      e-name="Nombres"
                      e-required
                      e-minlength="3"
                      e-maxlength="150"
                      e-placeholder="Nombres" >
                      {% vm.formData.nombres %}
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label hidden-xs" for="">Sexo</label>
                  <div class="col-sm-10 btn-group">

                    <span editable-radiolist="vm.formData.sexo" e-value="{%s.value%}" e-ng-options="s.value as s.text for s in vm.sexoData">
                    {% vm.showStatus() %}
                  </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label hidden-xs" for="">Fecha Nac.</label>
                  <div class="col-sm-10 btn-group">
                    <span editable-bsdate="vm.formData.fecha_nac"
                      e-uib-datepicker-popup="dd/MM/yyyy"
                      e-is-open="vm.popup.opened"
                      e-max-date="vm.popup.maxDate"
                      e-ng-click="vm.openFechaNac()"
                      e-class="form-control"
                      e-show-button-bar="false"
                       >
                        {% (vm.formData.fecha_nac | date:"dd/MM/yyyy")  %}
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="alerta" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                      <!-- buttons to submit / cancel form -->
                      <span ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                          Actualizar
                        </button>

                        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                          Cancelar
                        </button>
                      </span>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
              </form>

              <div class="form-group">
                <label for="alerta" class="col-sm-2 control-label">Teléfono(s)</label>
                <div class="col-sm-10">

                    <button ng-if="vm.formData.telefonos.length === 0" hide="" class=" clear-both btn m-b-xs btn-sm btn-default btn-addon">
                    <i class="fa fa-plus"></i>Agregar Teléfonos
                    </button>
                    <button ng-if="vm.formData.telefonos.length ===0 " ng-hide="vm.flagNewPhones"
                      ng-click="vm.flagNewPhones= true;"
                      class="clear-both  pull-left btn m-b-xs btn-sm btn-default btn-addon">
                        <i class="fa fa-plus"></i>Agregar Mails
                      </button>
                    <div class="col-sm-6" ng-if="vm.formData.telefonos.length > 0 ">
                        <div class="dd">
                          <ol class="dd-list" ng-sortable="vm.barConfigPhones" class="list">
                            <li  ng-repeat="telefonos in vm.formData.telefonos" class="dd-item dd3-item">
                                <div class="dd-handle dd3-handle">Drag</div>
                                <div class="dd3-content">

                                  <span
                                    editable-tel="telefonos.telefono"
                                    onbeforesave="vm.updatePhone($data, telefonos.id)"
                                    e-required
                                    e-minlength="9"
                                    e-maxlength="9"
                                    e-is-number=""
                                    e-pattern="[0,9]{1}[0-9]{8}"
                                   >{%telefonos.telefono%}
                                  </span>

                                  <span class="pull-right">
                                      <a ng-show="($index+1) === vm.formData.telefonos.length"
                                      ng-click="vm.flagNewPhones = !vm.flagNewPhones"
                                      title="Nuevo">
                                        <i class="fa fa-plus fa-fw m-r-xs"></i>
                                      </a>
                                      <a ng-click="vm.deletePhone(telefonos.telefono,telefonos.id)" tile="Eliminar">
                                        <i class="fa fa-times fa-fw"></i>
                                      </a>
                                    </span>


                                </div>
                            </li>

                          </ol>
                        </div>
                     </div>

                      <div class="col-sm-6" ng-show="vm.flagNewPhones">

                        <div class="form-group">
                            <label>Agregar Nuevos Teléfono(s)(Max 5)</label>
                            <tags-input
                              ng-model="vm.formData.newtelefonos"
                              display-property="telefono"
                              placeholder="Agregar Teléfono"
                              min-length="9"
                              max-length="9"
                              min-tags="0"
                              max-tags="5"
                              allowed-tags-pattern="[0,9]{1}[0-9]{8}"
                            ></tags-input>

                            <span class="editable-buttons pull-right">
                              <button type="button" ng-click="vm.saveNewPhones()" ng-show="vm.formData.newtelefonos.length > 0" class="btn btn-primary">
                              <span class="glyphicon glyphicon-ok"></span>
                              </button>
                              <button type="button" ng-click="vm.flagNewPhones = !vm.flagNewPhones;vm.formData.newtelefonos=[] " class="btn btn-default" >
                              <span class="glyphicon glyphicon-remove"></span>
                              </button>
                            </span>
                         </div>

                      </div>

                </div>
              </div>

              <div class="form-group">
                <label for="alerta" class="col-sm-2 control-label">Email(s)</label>
                <div class="col-sm-10">
                      <button ng-if="vm.formData.mails.length ===0 " ng-hide="vm.flagNewMails"
                      ng-click="vm.flagNewMails= true;"
                      class="clear-both  pull-left btn m-b-xs btn-sm btn-default btn-addon">
                        <i class="fa fa-plus"></i>Agregar Mails
                      </button>
                      <div class="col-sm-6" ng-if="vm.formData.mails.length > 0 ">
                        <div class="dd">
                          <ol class="dd-list" ng-sortable="vm.barConfigEmails">
                            <li  ng-repeat="mails in vm.formData.mails" class="dd-item dd3-item">
                                <div class="dd-handle dd3-handle">Drag</div>
                                <div class="dd3-content">

                                  <span
                                    editable-email="mails.mail"
                                    onbeforesave="vm.updateMail($data, mails.id)"
                                    e-required
                                   >{%mails.mail%}
                                  </span>
                                  <!--  -->
                                  <span class="pull-right">

                                      <a ng-show="($index+1) === vm.formData.mails.length"
                                      ng-click="vm.flagNewMails = !vm.flagNewMails"
                                      title="Nuevo">
                                        <i class="fa fa-plus fa-fw m-r-xs"></i>
                                      </a>
                                      <a ng-click="vm.deleteMail(mails.mail,mails.id)" tile="Eliminar">
                                        <i class="fa fa-times fa-fw"></i>
                                      </a>
                                    </span>

                                </div>
                            </li>

                          </ol>
                        </div>
                      </div>

                      <div class="col-sm-6" ng-if="vm.flagNewMails">

                        <div class="form-group">
                            <label>Agregar Nuevos Mail(s)(Max 5)</label>
                            <tags-input
                              ng-model="vm.formData.new_mails"
                              display-property="mail"
                              placeholder="Agregar Mail"
                              type="email"
                              min-tags="0"
                              max-tags="5"
                              allowed-tags-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            ></tags-input>

                            <span class="editable-buttons pull-right">
                              <button type="button" ng-click="vm.saveNewMails()" ng-show="vm.formData.new_mails.length > 0" class="btn btn-primary">
                              <span class="glyphicon glyphicon-ok"></span>
                              </button>
                              <button type="button" ng-click="vm.flagNewMails = !vm.flagNewMails;vm.formData.new_mails=[] " class="btn btn-default" >
                              <span class="glyphicon glyphicon-remove"></span>
                              </button>
                            </span>
                         </div>

                      </div>

                </div>
              </div>

          </div>

      <div class="modal-footer">
       <a  ng-click="vm.reloadListPersona()" class="btn m-b-xs btn-default btn-addon">
            <i class="fa fa-ban"></i>Cancelar
          </a>
          <!-- <div class="col-sm-6 messages-error ">
            {%vm.msj%}
          </div>


          <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
            <i class="fa fa-undo"></i>Actualizar
          </button>
        -->
      </div>
  </div>
</div>