
<div class="padding-small-v">
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()">
      <div class="modal-header bg-info">
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Nueva Persona</h4 >
        </div>
        <div class="modal-body">

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">DNI</label>
              <div class="col-sm-10">
                <input type="text" is-number name="dni" ng-model="vm.formData.dni" required class="form-control" maxlength="8" placeholder="DNI">
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Apellidos</label>
              <div class="col-sm-10">
                <input type="text" name="apellidos" ng-model="vm.formData.apellidos" required class="form-control" maxlength="150" placeholder="Apellidos">
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Nombres</label>
              <div class="col-sm-10">
                <input type="text"  name="nombres" ng-model="vm.formData.nombres" required class="form-control" maxlength="150" placeholder="Nombres">
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Fecha Nac.</label>
              <div class="col-sm-10">
                 <div class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup="dd/MM/yyyy"
                  ng-model="vm.formData.fecha_nac"
                  is-open="vm.popup.opened"
                  max-date="vm.maxDate"
                  show-button-bar="false"
                  ng-required="true"
                  close-text="Close"  />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="vm.openFechaNac()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Teléfono(s) (Max 5)</label>
              <div class="col-sm-10">

                   <tags-input
                    ng-model="vm.formData.telefonos"
                    display-property="telefono"
                    placeholder="Agregar Teléfono"
                    min-length="9"
                    max-length="9"
                    min-tags="1"
                    max-tags="5"
                    allowed-tags-pattern="[0,9]{1}[0-9]{8}"
                  ></tags-input>

              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Email(s) (Max 3)</label>
              <div class="col-sm-10">
                <!-- <input type="email" name="mail" ng-model="vm.formData.mail" required class="form-control" maxlength="150" placeholder="Email"> -->
                    <tags-input
                      ng-model="vm.formData.mails"
                      type="email"
                      display-property="mail"
                      placeholder="Agregar Email"
                      min-tags="0"
                      max-tags="3"
                    ></tags-input>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label hidden-xs" for="">Sexo</label>
              <div class="col-sm-10 btn-group">
                <label class=" " for="sex1">
                  <input type="radio" name="sex" ng-model="vm.formData.sexo" id="sex1" value="1" >
                  <i class="fa fa-check text-active"></i> Masculino
                </label>
                <label class="" for="sex2">
                  <input type="radio" name="sex" ng-model="vm.formData.sexo" id="sex2" value="2" >
                  <i class="fa fa-check text-active"></i> Femenino
                </label>
              </div>
            </div>

        </div>

    <div class="modal-footer">
        <div class="col-sm-6 messages-error ">
          {%vm.msj%}
        </div>
        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
