<ul class="nav nav-pills nav-stacked">
  <li class="presentation">
    <a href="#">
      <div>
        <span ng-show="branch.children.length>0 && !branch.isExpanded">
    <i class="fa fa-plus"
        ng-click="branch.isExpanded=true;"
        ng-dblclick="expand(branch, true)"></i></span>
        <span ng-show="branch.children.length>0 && branch.isExpanded">
    <i class="fa fa-minus"
      ng-click="branch.isExpanded=false;"
      ng-dblclick="expand(branch, false)"></i></span>
        <span ng-show="!branch.isSelected"><i class="fa fa-square-o" ng-click="toggle(branch,true)"></i></span>
        <span ng-show="branch.isSelected"><i class="fa fa-check-square-o"  ng-click="toggle(branch,false)"></i></span> {{ branch.nombre }}
      </div>
    </a>
  </li>
  <div ng-if="branch.isExpanded" class="tree">
    <ul class="nav nav-pills nav-stacked">
      <li class="presentation" ng-repeat="child in branch.children">
        <tree branch="child"></tree>
      </li>
    </ul>
  </div>

</ul>