
<div class="padding-small-v">
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()">
      <div class="modal-header bg-info" modal-draggable>
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Editar Agente Comercial</h4 >
        </div>
        <div class="modal-body">

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label"> Cliente </label>
              <div class="col-sm-10">
                <input type="text" name="nombres" ng-model="vm.formData.nombre" required class="form-control" maxlength="150" placeholder="Nombres" disabled="true">
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-2 control-label">Agente Comercial  </label>
              <div class="col-sm-10">
                  <!-- {% vm.formData.persona %} -->

                <ui-select ng-model="vm.formData.agente_comercial" ng-required="true" style="max-width: 500px;" title="Buscar Agente Comercial">
                  <ui-select-match placeholder="Buscar por Apellidos Nombres / Documento">{% $select.selected.full_name %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.data_agentes | propsFilter: {full_name: $select.search, documento: $select.search}">
                    <div ng-bind-html="row.full_name | highlight: $select.search"></div>
                      Doc: <span ng-bind-html="''+row.documento | highlight: $select.search"></span>
                      Email: <span ng-bind-html="''+row.mail | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>



        </div>


    <div class="modal-footer">

        <div class="col-sm-6  messages-error text-left ">
          <span>{% vm.msj.message %} </span>
          <ul class="text-sm">
            <li ng-repeat="errors in vm.msj.data "> {%errors[$index]%}</li>
          </ul>
        </div>

        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
