<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Lista de Clientes</span>
</div>
<div class="bg-light lter b-b wrapper-sm">
    <div class="row" >
      <div class="col-sm-12 col-xs-12">
      <div class="col-sm-7">
         <botones-botonera></botones-botonera>
      </div>
      <div class="col-sm-5">
        <form role="search">
          <div class="col-sm-7 form-group padd-none ">
              <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
              <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
            </div>
            <div class="col-sm-5 padd-none">
              <select ng-options="o.per_tipo for o in vm.data_per_tipo"
              ng-model="vm.searchPerTipo"
              ng-change="vm.searchPersonas(vm.searchPerTipo)"
              class="form-control input-sm bg-light dker no-border rounded padder"></select>

             <!--  <select name="searchPerTipo" ng-model="vm.searchPerTipo" ng-change="vm.searchPersonas(vm.searchPerTipo)" class="form-control input-sm bg-light dker no-border rounded padder">
                <option value="1">Personas</option>
                <option value="2">Empresas</option>
              </select> -->
            </div>
        </form>
      </div>

      </div>
    </div>
</div>


<div class="wrapper padd-sm-v">
<div class="panel panel-default">

    <div class="table-responsive">

       <table ng-table="vm.tableParams"
       class="table table-bordered table-hover table-bordered table-striped table-condensed"
       ng-form="vm.tableForm" disable-filter="vm.isAdding"
        ng-table-columns-binding="vm.cols" >
        <colgroup>
          <col width="5%" >
          <col width="10%" />
          <col width="10%" />
          <col width="25%" />
          <col width="25%" />
          <col width="15%" />
          <col width="10%" />
        </colgroup>
        <tr ng-repeat="row in $data " >
         <td data-title="'N°'" style="width:45px;">
              <label class="i-checks m-b-none">
                 <input type="radio" name="selectFill" ng-model="vm.fillSelected" ng-value="row" ><i></i>
              </label>
          </td>
          <td title="'Codigo'" sortable="'codigo'">{% row.codigo %}</td>
          <td title="'Documento'" sortable="'documento'" >{% row.documento %}</td>
          <td title="'Apellidos'" sortable="'per_nombre'" >{% row.per_nombre %}</td>
          <td title="'Nombre'" sortable="'per_apellidos'" >{% row.per_apellidos %}</td>
          <td title="'Email'" sortable="'email'" >{% row.mail %}</td>
          <td title="'Telefono'"   >{% row.telefono %}</td>
        </tr>
      </table>


  </div>


</div>