<div class="wrapper ">

  <div class="panel panel-default">

        <div class="modal-header bg-info bg">
            <a  class="close" ng-click="vm.reloadListEmpresas()">&times;</a>
            <h4 class="modal-title">Editar Empresa</h4 >
          </div>
          <div class="modal-body form-horizontal padd-min-lf-rg">



            <div class="col-sm-6 ">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Información Básica</div>
                <div class="panel-body">

                  <div class="form-group">
                    <label for="alerta" class="col-sm-3 control-label">Ruc</label>
                    <div class="col-sm-9">
                    <span
                     editable-text="vm.formData.ruc"
                     onaftersave="vm.updateRuc($data)"
                     e-required
                     e-minlength="11"
                     e-maxlength="11"
                     e-is-number=""
                     e-pattern="[0-9]{11}"
                    >{% vm.formData.ruc || 'empty' %}</span>
                    </div>
                  </div>

                  <div class="line line-dashed b-b line-lg pull-in"></div>

                  <form editable-form name="editableForm" onaftersave="vm.updatePerJuridicaInfo()">

                    <div class="form-group">
                      <label for="alerta" class="col-sm-3 control-label">Razón Social</label>
                      <div class="col-sm-9">
                        <span
                          editable-text="vm.formData.razon_social"
                          e-name="Razón Social"
                          e-required
                          e-minlength="4"
                          e-maxlength="200"
                          e-placeholder="Razón Social" >
                          {% vm.formData.razon_social %}
                        </span>

                          <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                            Editar
                          </button>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="alerta" class="col-sm-3 control-label">Nombre Com.</label>
                      <div class="col-sm-9">
                        <span
                          editable-text="vm.formData.nombre_comercial"
                          e-name="Nombre Comercial"
                          e-required
                          e-minlength="3"
                          e-maxlength="150"
                          e-placeholder="Nombre Comercial" >
                          {% vm.formData.nombre_comercial %}
                        </span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label hidden-xs" for="">Fundacíon </label>
                      <div class="col-sm-9 btn-group">
                        <span editable-bsdate="vm.formData.fecha_nac"
                          e-uib-datepicker-popup="dd/MM/yyyy"
                          e-is-open="vm.popup.opened"
                          e-max-date="vm.popup.maxDate"
                          e-ng-click="vm.openFechaNac()"
                          e-class="form-control"
                          e-show-button-bar="false"
                           >
                            {% (vm.formData.fecha_nac | date:"dd/MM/yyyy")  %}
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="alerta" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                          <!-- buttons to submit / cancel form -->
                          <span ng-show="editableForm.$visible">
                            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                              Actualizar
                            </button>

                            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                              Cancelar
                            </button>
                          </span>
                        </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>

            <div class="clear-both"></div>
            <div vertilize-container>


              <div class="col-sm-6" >
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">Teléfono(s)</div>
                  <div class="panel-body " vertilize >

                    <div class="form-group">
                      <!-- <label for="alerta" class="col-sm-2 control-label">Teléfono(s)</label> -->
                      <div class="col-sm-12">


                          <button ng-if="vm.formData.telefonos.length ===0 " ng-hide="vm.flagNewPhones"
                            ng-click="vm.flagNewPhones= true;"
                            class="clear-both  pull-left btn m-b-xs btn-sm btn-default btn-addon">
                              <i class="fa fa-plus"></i>Agregar Teléfonos
                            </button>
                          <div class="col-sm-12" ng-if="vm.formData.telefonos.length > 0 ">
                              <div class="dd">
                                <ol class="dd-list" ng-sortable="vm.barConfigPhones" class="list">
                                  <li  ng-repeat="telefonos in vm.formData.telefonos" class="dd-item dd3-item">
                                      <div class="dd-handle dd3-handle">Drag</div>
                                      <div class="dd3-content">

                                        <span
                                          editable-tel="telefonos.telefono"
                                          onbeforesave="vm.updatePhone($data, telefonos.id)"
                                          e-required
                                          e-minlength="9"
                                          e-maxlength="9"
                                          e-is-number=""
                                          e-pattern="[0,9]{1}[0-9]{8}"
                                         >{%telefonos.telefono%}
                                        </span>

                                        <span class="pull-right">
                                            <a ng-show="($index+1) === vm.formData.telefonos.length"
                                            ng-click="vm.flagNewPhones = !vm.flagNewPhones"
                                            title="Nuevo">
                                              <i class="fa fa-plus fa-fw m-r-xs"></i>
                                            </a>
                                            <a ng-click="vm.deletePhone(telefonos.telefono,telefonos.id)" tile="Eliminar">
                                              <i class="fa fa-times fa-fw"></i>
                                            </a>
                                          </span>


                                      </div>
                                  </li>

                                </ol>
                              </div>
                          </div>

                            <div class="col-sm-12" ng-show="vm.flagNewPhones">

                              <div class="form-group">
                                  <label>Agregar Nuevos Teléfono(s)(Max 3)</label>
                                  <tags-input
                                    ng-model="vm.formData.newtelefonos"
                                    display-property="telefono"
                                    placeholder="Agregar Teléfono"
                                    min-length="9"
                                    max-length="9"
                                    min-tags="0"
                                    max-tags="3"
                                    allowed-tags-pattern="[0,9]{1}[0-9]{8}"
                                  ></tags-input>

                                  <span class="editable-buttons pull-right">
                                    <button type="button" ng-click="vm.saveNewPhones()" ng-show="vm.formData.newtelefonos.length > 0" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" ng-click="vm.flagNewPhones = !vm.flagNewPhones;vm.formData.newtelefonos=[] " class="btn btn-default" >
                                    <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                  </span>
                               </div>

                            </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-sm-6" >
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">Email(s)</div>
                  <div class="panel-body " vertilize>

                    <div class="form-group">
                      <!-- <label for="alerta" class="col-sm-2 control-label">Email(s)</label> -->
                      <div class="col-sm-12">
                            <button ng-if="vm.formData.mails.length ===0 " ng-hide="vm.flagNewMails"
                            ng-click="vm.flagNewMails= true;"
                            class="clear-both  pull-left btn m-b-xs btn-sm btn-default btn-addon">
                              <i class="fa fa-plus"></i>Agregar Mails
                            </button>
                            <div class="col-sm-12" ng-if="vm.formData.mails.length > 0 ">
                              <div class="dd">
                                <ol class="dd-list" ng-sortable="vm.barConfigEmails">
                                  <li  ng-repeat="mails in vm.formData.mails" class="dd-item dd3-item">
                                      <div class="dd-handle dd3-handle">Drag</div>
                                      <div class="dd3-content">

                                        <span
                                          editable-email="mails.mail"
                                          onbeforesave="vm.updateMail($data, mails.id)"
                                          e-required
                                         >{%mails.mail%}
                                        </span>
                                        <!--  -->
                                        <span class="pull-right">

                                            <a ng-show="($index+1) === vm.formData.mails.length"
                                            ng-click="vm.flagNewMails = !vm.flagNewMails"
                                            title="Nuevo">
                                              <i class="fa fa-plus fa-fw m-r-xs"></i>
                                            </a>
                                            <a ng-click="vm.deleteMail(mails.mail,mails.id)" tile="Eliminar">
                                              <i class="fa fa-times fa-fw"></i>
                                            </a>
                                          </span>

                                      </div>
                                  </li>

                                </ol>
                              </div>
                            </div>

                            <div class="col-sm-12" ng-if="vm.flagNewMails">

                              <div class="form-group">
                                  <label>Agregar Nuevos Mail(s)(Max 5)</label>
                                  <tags-input
                                    ng-model="vm.formData.new_mails"
                                    display-property="mail"
                                    placeholder="Agregar Mail"
                                    type="email"
                                    min-tags="0"
                                    max-tags="5"
                                    allowed-tags-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                  ></tags-input>

                                  <span class="editable-buttons pull-right">
                                    <button type="button" ng-click="vm.saveNewMails()" ng-show="vm.formData.new_mails.length > 0" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" ng-click="vm.flagNewMails = !vm.flagNewMails;vm.formData.new_mails=[] " class="btn btn-default" >
                                    <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                  </span>
                               </div>

                            </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="col-sm-6" >
                <div class="panel panel-default">
                  <div class="panel-heading font-bold">Web(s)</div>
                  <div class="panel-body ">


                    <div class="form-group">
                      <!-- <label for="alerta" class="col-sm-2 control-label">Teléfono(s)</label> -->
                      <div class="col-sm-12">

                          <button ng-if="vm.formData.webs.length ===0 " ng-hide="vm.flagNewWebs"
                            ng-click="vm.flagNewWebs= true;"
                            class="clear-both  pull-left btn m-b-xs btn-sm btn-default btn-addon">
                              <i class="fa fa-plus"></i>Agregar Web(s)
                            </button>
                          <div class="col-sm-12" ng-if="vm.formData.webs.length > 0 ">
                              <div class="dd">
                                <ol class="dd-list" ng-sortable="vm.barConfiWebs" class="list">
                                  <li  ng-repeat="webs in vm.formData.webs" class="dd-item dd3-item">
                                      <div class="dd-handle dd3-handle">Drag</div>
                                      <div class="dd3-content">
                                      <a href="{% webs.url %}" target="_blank">
                                        <i class="fa fa-globe"></i>
                                      </a>

                                        <span
                                          editable-tel="webs.url"
                                          onbeforesave="vm.updateWeb($data, webs.id)"
                                          e-required
                                          e-http-prefix
                                         >{%webs.url%}
                                        </span>

                                        <span class="pull-right">
                                            <a ng-show="($index+1) === vm.formData.webs.length"
                                            ng-click="vm.flagNewWebs = !vm.flagNewWebs"
                                            title="Nuevo">
                                              <i class="fa fa-plus fa-fw m-r-xs"></i>
                                            </a>
                                            <a ng-click="vm.deleteWeb(webs.url,webs.id)" tile="Eliminar">
                                              <i class="fa fa-times fa-fw"></i>
                                            </a>
                                          </span>


                                      </div>
                                  </li>

                                </ol>
                              </div>
                          </div>

                            <div class="col-sm-12" ng-show="vm.flagNewWebs">

                            <form class="form-horizontal" name="formDataWeb" novalidate  >

                                    <div class="form-group">
                                      <label for="alerta" class="col-sm-3 control-label">Web Url</label>
                                      <div class="col-sm-9">
                                        <input type="text"   http-prefix name="web" ng-model="vm.formDataWeb.url" required class="form-control" maxlength="100"  placeholder="http://www.miweb.com">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="alerta" class="col-sm-3 control-label">Tipo de Web</label>
                                      <div class="col-sm-9">

                                        <ui-select ng-model="vm.formDataWeb.tipo_web"  ng-required="true" style="max-width:500px;" title="Buscar Cargo">
                                          <ui-select-match placeholder="Seleccionar Tipo web">{% $select.selected.nombre %}</ui-select-match>
                                          <ui-select-choices repeat="row in vm.data_tipo_webs | propsFilter: {nombre: $select.search}">
                                            <div ng-bind-html="row.nombre | highlight: $select.search"></div>
                                          </ui-select-choices>
                                        </ui-select>

                                        <!-- <input type="text" name="tipo_web" ng-model="vm.formDataWeb.tipo_web" required class="form-control" maxlength="100" placeholder="Descripcion"> -->
                                      </div>
                                    </div>



                                    <div class="col-ms-12 pull-right ">



                                      <button type="button" ng-click="vm.flagNewWebs = !vm.flagNewWebs;vm.formData.new_webs=[] " class="btn m-b-xs btn-default btn-addon">
                                        <i class="fa fa-ban"></i>Cancelar
                                      </button>

                                      <button type="button" ng-click="vm.saveNewWebs()"   class="btn m-b-xs btn-info btn-addon"  >
                                        <i class="fa fa-floppy-o"></i>Registrar
                                      </button>

                                    </div>

                                     <div class="col-sm-6  messages-error text-left ">
                                      <span>{% vm.msj.message %} </span>
                                      <ul class="text-sm">
                                        <li ng-repeat="errors in vm.msj.data "> {%errors[$index]%}</li>
                                      </ul>
                                    </div>


                            </form>

                              <!-- <div class="form-group">
                                  <label>Agregar Nueva Web(s) </label>
                                  <tags-input
                                    ng-model="vm.formData.newtelefonos"
                                    display-property="telefono"
                                    placeholder="Agregar Teléfono"
                                    min-length="9"
                                    max-length="9"
                                    min-tags="0"
                                    max-tags="3"
                                    allowed-tags-pattern="[0,9]{1}[0-9]{8}"
                                  ></tags-input>

                                  <span class="editable-buttons pull-right">
                                    <button type="button" ng-click="vm.saveNewWebs()" ng-show="vm.formData.newwebs.length > 0" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" ng-click="vm.flagNewWebs = !vm.flagNewWebs;vm.formData.newwebs=[] " class="btn btn-default" >
                                    <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                  </span>
                               </div> -->

                            </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
           <!--
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Informacion Básica</div>
                <div class="panel-body">


                </div>
              </div>
            </div>
            -->



          </div>
          <div class="clearfix"></div>

      <div class="modal-footer">
       <a  ng-click="vm.reloadListEmpresas()" class="btn m-b-xs btn-default btn-addon">
            <i class="fa fa-ban"></i>Cancelar
          </a>
          <!-- <div class="col-sm-6 messages-error ">
            {%vm.msj%}
          </div>


          <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
            <i class="fa fa-undo"></i>Actualizar
          </button>
        -->
      </div>
  </div>
</div>