
<div class="padding-small-v">
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()">
      <div class="modal-header bg-info">
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Nueva Empresa</h4 >
        </div>
        <div class="modal-body">

            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Ruc</label>
              <div class="col-sm-9">
                <input type="text" is-number name="ruc" ng-model="vm.formData.ruc" required class="form-control" maxlength="12" minlenght="11" placeholder="Ruc">
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Razón Social</label>
              <div class="col-sm-9">
                <input type="text" name="razon_social" ng-model="vm.formData.razon_social" required class="form-control" maxlength="150" placeholder="Razón Social">
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Nombre Comercial</label>
              <div class="col-sm-9">
                <input type="text"  name="nombre_comercial" ng-model="vm.formData.nombre_comercial"  class="form-control" maxlength="200" placeholder="Opcional: Nombre Comercial">
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Teléfono(s) de Oficina (Max 3)</label>
              <div class="col-sm-9">

                   <tags-input
                    ng-model="vm.formData.telefonos"
                    display-property="telefono"
                    placeholder="Agregar Teléfono"
                    min-length="9"
                    max-length="9"
                    min-tags="1"
                    max-tags="3"
                    allowed-tags-pattern="[0,9]{1}[0-9]{8}"
                  ></tags-input>

              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Email(s) (Max 3)</label>
              <div class="col-sm-9">
                    <tags-input
                      ng-model="vm.formData.mails"
                      type="email"
                      display-property="mail"
                      placeholder="Agregar Email"
                      min-tags="0"
                      max-tags="3"
                    ></tags-input>
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Ubigeo(Distrito) </label>
              <div class="col-sm-9">

                <ui-select ng-model="vm.formData.distrito" ng-required="true" style="max-width: 500px;" title="Buscar Distrito, Provincia, Departamento">
                  <ui-select-match placeholder="Buscar Distrito ">{% $select.selected.descripcion %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.data_ubigeos | propsFilter: {descripcion: $select.search}">
                    <div ng-bind-html="row.descripcion | highlight: $select.search"></div>
                      <!-- DNI: <span ng-bind-html="''+row.dni | highlight: $select.search"></span> -->
                      <!-- Email: <span ng-bind-html="''+row.mail | highlight: $select.search"></span> -->
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="form-group">
              <label for="alerta" class="col-sm-3 control-label">Sitio Web</label>
              <div class="col-sm-9">
                <input type="url"  name="sitio_web" ng-model="vm.formData.sitio_web"  class="form-control" maxlength="200" placeholder="http://www.miweb.com">
              </div>
            </div>


        </div>

      <div class="modal-footer">

        <div class="col-sm-6  messages-error text-left ">
          <span>{% vm.msj.message %} </span>
          <ul class="text-sm">
            <li ng-repeat="errors in vm.msj.data "> {%errors[$index]%}</li>
          </ul>
        </div>

        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
