
<div class="padding-small-v">
  <form class="form-horizontal" name="formData" novalidate ng-submit="vm.ok()">
      <div class="modal-header bg-info" modal-draggable>
          <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
          <h4 class="title-red modal-title">Editar Vehiculo</h4 >
        </div>
        <div class="modal-body">

            <div class="col-sm-6 form-full">
              <div class="form-group">
                <label for="placa">Placa</label>
               <input type="text" name="placa" id="placa" ng-model="vm.formData.placa" required class="form-control" maxlength="200" placeholder="placa">
              </div>
            </div>

            <div class="col-sm-6 form-full">
              <div class=" form-group ">
                <label for="serie">Serie</label>
                <input type="text" name="serie" id="serie" ng-model="vm.formData.serie" required class="form-control" maxlength="200" placeholder="Serie">
              </div>

            </div>

             <div class="col-sm-6 form-full">
               <div class="form-group">
                <label for="alerta"  >Clase de Vehículo</label>
                  <ui-select ng-model="vm.formData.clase_vehiculo" ng-required="true" style="max-width:500px;" title="Buscar Clase de Vehículo" on-select="vm.getTipoVehiculos($item, $model)">
                    <ui-select-match placeholder="Seleccionar Clase de Vehículo">{% $select.selected.nombre %}</ui-select-match>
                    <ui-select-choices repeat="row in vm.data_clase_vehiculos | propsFilter: {nombre: $select.search}">
                      <div ng-bind-html="row.nombre | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>

            <div class="col-sm-6 form-full">
               <div class="form-group">
                <label for="alerta"  >Tipo de Vehículo</label>
                <ui-select ng-model="vm.formData.tipo_vehiculo"  ng-required="true" style="max-width:500px;" title="Buscar Tipo de Vehículo">
                  <ui-select-match placeholder="Seleccionar Tipo de Vehículo">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="row in vm.data_tipo_vehiculos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="row.nombre | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <div class="col-sm-6 form-full">
              <div class="form-group">
                <label for="marca" class="control-label">Marca</label>
                  <ui-select ng-model="vm.formData.marca" on-select="vm.getModelos($item, $model)" ng-required="true" style="max-width:500px;" title="Buscar Marca">
                    <ui-select-match placeholder="Seleccionar Marca">{% $select.selected.nombre %}</ui-select-match>
                    <ui-select-choices repeat="row in vm.data_marcas | propsFilter: {nombre: $select.search}">
                      <div ng-bind-html="row.nombre | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>

            <div class="col-sm-6 form-full">
              <div class="form-group">
                <label for="modelo" class="control-label">Modelo</label>
                  <ui-select id="modelo" ng-model="vm.formData.modelo" ng-required="true" style="max-width:500px;" title="Buscar Modelo">
                    <ui-select-match placeholder="Seleccionar Modelo">{% $select.selected.nombre %}</ui-select-match>
                    <ui-select-choices repeat="row in vm.data_modelos | propsFilter: {nombre: $select.search}">
                      <div ng-bind-html="row.nombre | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
              </div>
            </div>

            <div class="form-group">
              <label for="descripcion" class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
              <textarea name="descripcion" ng-model="vm.formData.descripcion"   id="descripcion" cols="30" rows="5" class="form-control" ></textarea>
              </div>
            </div>

        </div>


    <div class="modal-footer">

        <div class="col-sm-6  messages-error text-left ">
          <span>{% vm.msj.message %} </span>
          <ul class="text-sm">
            <li ng-repeat="errors in vm.msj.data "> {%errors[$index]%}</li>
          </ul>
        </div>

        <button type="button" ng-click="vm.cancel()"class="btn m-b-xs btn-default btn-addon">
          <i class="fa fa-ban"></i>Cancelar
        </button>

        <button type="submit"  class="btn m-b-xs btn-info btn-addon" ng-disabled="formData.$invalid">
          <i class="fa fa-floppy-o"></i>Registrar
        </button>

    </div>
  </form>
</div>
