<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Lista de Vehiculos</span>
</div>
<div class="bg-light lter b-b wrapper-sm">
    <div class="row" >
      <div class="col-sm-12 col-xs-12">
      <div class="col-sm-8">
         <botones-botonera></botones-botonera>
      </div>
      <div class="col-sm-4">
        <form role="search">
          <div class="form-group margin-none">
              <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
              <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
            </div>
        </form>
      </div>

      </div>
    </div>
</div>

<div class="wrapper padd-sm-v">
<div class="panel panel-default">

    <div class="table-responsive">

       <table ng-table="vm.tableParams" style=" z-index:100"
       class="table table-bordered table-hover table-condensed editable-table"
       ng-form="vm.tableForm" disable-filter="vm.isAdding"
        ng-table-columns-binding="vm.cols" >
        <colgroup>
          <col width="5%" style="width:45px;"/>
          <col width="15%" />
          <col width="15%" />
          <col width="18%" />
          <col width="15%" />
          <col width="18%" />
          <col width="15%" />
        </colgroup>
        <tr ng-repeat="row in $data ">
         <td data-title="'N°'" style="width:50px;" >
              <label class="i-checks m-b-none">
                 <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
              </label>
          </td>

          <td title="'Placa'" sortable="'placa'"  >
            <span  class="editable-text">{% row.placa %}</span>
          </td>

           <td title="'Serie'" sortable="'Serie'" >
            <span  class="editable-text">{% row.serie %}</span>
          </td>

          <!-- <td title="'Descripcion'" sortable="'descripcion'" >
            <span  class="editable-text">{% row.descripcion %}</span>
          </td> -->
          <td title="'Tipo Veh'" sortable="'tipo_vehiculo'" >
            <span  class="editable-text">{% row.tipo_vehiculo %}</span>
          </td>

          <td title="'Clase Veh'" sortable="'clase_vehiculo'" >
            <span  class="editable-text">{% row.clase_vehiculo %}</span>
          </td>

          <td title="'Modelo'" sortable="'modelo'" >
            <span  class="editable-text">{% row.modelo %}</span>
          </td>

          <td title="'Marca'" sortable="'marca'" >
            <span  class="editable-text">{% row.marca %}</span>
          </td>


        </tr>
      </table>




  </div>


</div>