<div class="bg-light lter b-b wrapper-sm">
<span class="fs-1x-md">Lista de Acuerdo Pagos </span>
</div>
<div class="bg-light lter b-b wrapper-sm">
    <div class="row" >
      <div class="col-sm-12 col-xs-12">
      <div class="col-sm-8">
         <botones-botonera></botones-botonera>
      </div>
      <div class="col-sm-4">
        <form role="search">
          <div class="form-group margin-none">
              <input type="search" ng-model="vm.globalSearchTerm"  ng-keyup="vm.applyGlobalSearch()" class="form-control input-sm bg-light dker no-border rounded padder" placeholder="Buscar" >
              <a class="search-clear fa fa-times-circle" ng-show="vm.globalSearchTerm" ng-click="vm.globalSearchTerm='';vm.applyGlobalSearch()"></a>
            </div>
        </form>
      </div>

      </div>
    </div>
</div>

<div class="wrapper padd-sm-v">
<div class="panel panel-default">



    <div class="table-responsive">

       <table ng-table="vm.tableParams"
       class="table table-bordered table-hover table-condensed editable-table"
       ng-form="vm.tableForm" disable-filter="vm.isAdding"
        ng-table-columns-binding="vm.cols" >
        <colgroup>
          <!-- <col width="5%" style="width:45px;"/> -->
          <col width="15%" />
          <col width="20%" />
          <col width="8%" />
          <col width="7%" />
          <col width="40%" />
          <col width="10%" ng-show="vm.btn_in_table"/>
        </colgroup>
        <tr ng-repeat="row in $data " ng-form="rowForm" >
       <!--   <td data-title="'N°'" style="width:45px;">
              <label class="i-checks m-b-none">
                 <input type="radio" name="codigo" ng-model="vm.fillSelected" ng-value="row" ><i></i>
              </label>
          </td> -->
          <td title="'Tipo Periodo'" sortable="'tipo_periodo.nombre'" ng-switch="row.isEditing" ng-class="tipo_periodo.nombre.$dirty ? 'bg-warning' : ''" ng-form="tipo_periodo.nombre">
            <span ng-switch-default class="editable-text">{% row.tipo_periodo.nombre %}</span>
            <div class="controls"
            ng-class="tipo_periodo.nombre.$invalid && tipo_periodo.nombre.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <ui-select ng-model="row.tipo_periodo"  ng-required="true" style="max-width:500px; padding: 0;" class="editable-input form-control"   title="Buscar Tipo Periodo">
                  <ui-select-match placeholder="Seleccionar Tipo Periodo">{% $select.selected.nombre %}</ui-select-match>
                  <ui-select-choices repeat="data in vm.data_tipo_prestamos | propsFilter: {nombre: $select.search}">
                    <div ng-bind-html="data.nombre | highlight: $select.search"></div>
                  </ui-select-choices>
              </ui-select>
              <!-- <input type="text" name="tipo_prestamo.nombre" ng-model="row.tipo_prestamo.nombre" class="editable-input form-control input-sm" required /> -->
            </div>
          </td>

          <td title="'Nombre'" sortable="'nombre'" ng-switch="row.isEditing" ng-class="nombre.$dirty ? 'bg-warning' : ''" ng-form="nombre">
            <span ng-switch-default class="editable-text">{% row.nombre %}</span>
            <div class="controls"
            ng-class="nombre.$invalid && nombre.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="text" name="nombre" ng-model="row.nombre" class="editable-input form-control input-sm" required />
            </div>
          </td>

          <td title="'Partes'" sortable="'partes'" ng-switch="row.isEditing" ng-class="partes.$dirty ? 'bg-warning' : ''" ng-form="partes">
            <span ng-switch-default class="editable-text">{% row.partes %}</span>
            <div class="controls"
            ng-class="partes.$invalid && partes.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="text" name="partes" ng-model="row.partes" class="editable-input form-control input-sm" required />
            </div>
          </td>

          <td title="'Rango'" sortable="'rango'" ng-switch="row.isEditing" ng-class="rango.$dirty ? 'bg-warning' : ''" ng-form="rango">
            <span ng-switch-default class="editable-text">{% row.rango %}</span>
            <div class="controls"
            ng-class="rango.$invalid && rango.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="text" name="rango" ng-model="row.rango" class="editable-input form-control input-sm" required />
            </div>
          </td>

          <td title="'Descripcion'" sortable="'descripcion'" ng-switch="row.isEditing" ng-class="descripcion.$dirty ? 'bg-warning' : ''" ng-form="descripcion">
            <span ng-switch-default class="editable-text">{% row.descripcion %}</span>
            <div class="controls"
            ng-class="descripcion.$invalid && descripcion.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="text" name="descripcion" ng-model="row.descripcion" class="editable-input form-control input-sm" required />
            </div>
          </td>



          <td ng-if="vm.btn_in_table">
            <button class="btn btn-primary btn-sm" ng-click="vm.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-default btn-sm" ng-click="vm.cancel(row, rowForm)" ng-if="row.isEditing">
              <span class="glyphicon glyphicon-remove"></span>
            </button>

            <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing" ng-show="vm.btn_edit">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>


              <button class="btn btn-danger btn-sm" ng-click="vm.del(row)" ng-if="!row.isEditing" ng-show="vm.btn_delete" >
              <span class="glyphicon glyphicon-trash"></span>
            </button>

          </td>
        </tr>
      </table>




  </div>


</div>